
@{
    ViewBag.Title = "Perfil - Experiencia Basica";
}

@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@using SistemaReclutamiento.Utilitarios;
@{
    String persona = new JavaScriptSerializer().Serialize(Session["per_full"]);
    String postulante = new JavaScriptSerializer().Serialize(Session["postulante"]);
    String usuario = new JavaScriptSerializer().Serialize(Session["usu_full"]);
    String rutaImage = new JavaScriptSerializer().Serialize(Session["rutaPerfil"]);
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="" role="tabpanel">
                <ul id="Ofimatica_ul" class="nav nav-tabs bar_tabs hidden-xs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#Experiencia_tab" role="tab" data-toggle="tab" aria-expanded="true">Experiencia</a>
                    </li>
                    <li class="pull-right">
                        <button type="button" class="btn btn-danger btn_guardar"><i class="fa fa-save"></i> Guardar</button>
                        <button class="btn btn-primary btn_cancelar" type="button"><i class="fa fa-ban"></i> Cancelar</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="Experiencia_tab" aria-labelledby="Experiencia_tab">

                        <div class="col-md-3 col-sm-12 col-xs-12 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <div class="imagen-para-perfil img_postulante">
                                        <label for="subir-img-perfil" style="width: 100%;">
                                            <img id="perfil_principal" src="~/images/user.png" class="img-responsive avatar-view" style="width:100%;height:225px;" alt="Avatar" title="Imagen Postulante">
                                        </label>
                                        <input id="subir-img-perfil" type="file" style="display:none;" />
                                    </div>
                                </div>
                            </div>
                            <h3 style="margin-top: 2px;margin-bottom: 2px;" id="persona_nombre">Richard Lee</h3>
                        </div>

                        <form id="frmExperiencia-form" class="" method="post">
                            <div class="col-md-9 col-xs-12" style="padding-top:10px;">
                                <div class="col-md-12 col-sm-12 col-xs-12 visible-xs" style="margin-bottom:10px;">
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-danger col-xs-12 btn_guardar"><i class="fa fa-save"></i> Guardar</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-primary col-xs-12 btn_cancelar"><i class="fa fa-ban"></i> Cancelar</button>
                                    </div>
                                </div>

                                <input type="hidden" name="per_id" id="per_id" />
                                <input type="hidden" name="pos_id" id="pos_id" />
                                <input type="hidden" name="fk_postulante" id="fk_postulante" />

                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Empresa</label>
                                        <input type="text" name="exp_empresa" id="exp_empresa" class="form-control" placeholder="Empresa" />
                                    </div>
                                </div>

                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Cargo</label>
                                        <input type="text" name="exp_cargo" id="exp_cargo" class="form-control" placeholder="Cargo Ocupado" />
                                    </div>
                                </div>


                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Motivo Cese</label>
                                        <input type="text" name="exp_motivo_cese" id="exp_motivo_cese" class="form-control" placeholder="Motivo Cese" />
                                    </div>
                                </div>

                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Fecha Inicio</label>
                                            <div class='input-group date' id='myDatepicker1'>
                                                <input type='text' class="form-control" name="exp_fecha_ini" id="exp_fecha_ini" data-inputmask="'mask': '99/99/9999'" placeholder="Fecha de Inicio" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Fecha Fin</label>
                                            <div class='input-group date' id='myDatepicker2'>
                                                <input type='text' class="form-control" name="exp_fecha_fin" id="exp_fecha_fin" data-inputmask="'mask': '99/99/9999'" placeholder="Fecha de Fin" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-xs-12">
                                        <div class="ln_solid"></div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">

                                        <table id="Experiencia-table" class="table table-bordered table-condensed table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="20%">Empresa </th>
                                                    <th>Cargo</th>
                                                    <th>Motivo Cese</th>
                                                    <th>Inicio</th>
                                                    <th>Fin</th>
                                                    <th width="4%"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_experiencia"></tbody>
                                        </table>
                                    </div>

                                </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Final-->
@section js
{
    <script type="text/javascript">
        persona = (@Html.Raw(persona));
        postulante = (@Html.Raw(postulante));
        usuario = (@Html.Raw(usuario));
        rutaImage = (@Html.Raw(rutaImage));
    </script>
    <script src="~/Content/viewjs/Persona/ExperienciaVista.js"></script>
}


