
@{
    ViewBag.Title = "Perfil - Educacion Basica";
}

@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@using SistemaReclutamiento.Utilitarios;
@{
    String persona = new JavaScriptSerializer().Serialize(Session["per_full"]);
    String postulante = new JavaScriptSerializer().Serialize(Session["postulante"]);
    String usuario = new JavaScriptSerializer().Serialize(Session["usu_full"]);
    String rutaImage = new JavaScriptSerializer().Serialize(Session["rutaPerfil"]);
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="" role="tabpanel">
                <ul id="Ofimatica_ul" class="nav nav-tabs bar_tabs hidden-xs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#EducacionSuperior_tab" role="tab" data-toggle="tab" aria-expanded="true">Ofimática</a>
                    </li>
                    <li class="pull-right">
                        <button type="button" class="btn btn-danger btn_guardar"><i class="fa fa-save"></i> Guardar</button>
                        <button class="btn btn-primary btn_cancelar" type="button"><i class="fa fa-ban"></i> Cancelar</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="Ofimatica_tab" aria-labelledby="Ofimatica_tab">

                        <div class="col-md-3 col-sm-12 col-xs-12 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <div class="imagen-para-perfil img_postulante image view view-first">
                                        <label for="subir-img-perfil" style="width: 100%;">
                                            <img id="perfil_principal" src="~/images/user.png" class="img-responsive avatar-view" style="width:100%;height:225px;display:block" alt="Avatar" title="Editar Perfil">
                                            <span class="mask"></span>
                                        </label>
                                        <input id="subir-img-perfil" type="file" style="display:none;" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <h4 style="margin-top: 2px;margin-bottom: 2px;" id="persona_nombre"></h4>

                            <h4>Perfil Profesional</h4>
                            <ul class="list-unstyled user_data">
                                <li>
                                    <div class="progress progress_wide">
                                        <div id="porcentajeProgreso" class="progress-bar progress-bar-striped bg-info" role="progressbar"></div>
                                        <span style="color: #000000; position:relative;">Porcentaje Perfil : <i></i> </span>
                                    </div>

                                </li>

                            </ul>
                        </div>

                        <form id="frmOfimatica-form" class="" method="post">
                            <div class="col-md-9 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 visible-xs" style="margin-bottom:10px;">
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-danger col-xs-12 btn_guardar"><i class="fa fa-save"></i> Guardar</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-primary col-xs-12 btn_cancelar"><i class="fa fa-ban"></i> Cancelar</button>
                                    </div>
                                </div>

                                <input type="hidden" name="per_id" id="per_id" />
                                <input type="hidden" name="pos_id" id="pos_id" />
                                <input type="hidden" name="fk_postulante" id="fk_postulante" />
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Conocimientos en Ofimática
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Tipo de Educación</label>
                                                <select class="form-control" name="ofi_tipo" id="cbotipoOfimatica" style="width:100%">
                                                    <option value="">Seleccione</option>
                                                    <option value="INSTITUTO">Instituto</option>
                                                    <option value="UNIVERSIDAD">Universidad</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Centro de Estudios</label>
                                                <input type="text" name="ofi_centro_estudio" id="ofi_centro_estudio" class="form-control" placeholder="Centro de Estudios" />
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Curso</label>
                                                <select class="form-control" name="fk_ofimatica" id="cboofimaticaHerramienta" style="width:100%">
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Nivel</label>
                                                <select class="form-control" name="ofi_nivel" id="cboofimaticaNivel" style="width:100%">
                                                    <option value="">Seleccione</option>
                                                    <option value="BASICO">Basico</option>
                                                    <option value="INTERMEDIO">Intermedio</option>
                                                    <option value="AVANZADO">Avanzado</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Fecha Inicio</label>
                                                <div class='input-group date' id='myDatepicker1'>
                                                    <input type='text' class="form-control" name="ofi_periodo_ini" id="ofi_periodo_ini" data-inputmask="'mask': '99/99/9999'" placeholder="Fecha de Inicio" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Fecha Fin</label>
                                                <div class='input-group date' id='myDatepicker2'>
                                                    <input type='text' class="form-control" name="ofi_periodo_fin" id="ofi_periodo_fin" data-inputmask="'mask': '99/99/9999'" placeholder="Fecha de Fin" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                             

                                <div class="col-md-12 col-xs-12">
                                    <div class="ln_solid"></div>
                                </div>
                                <div class="col-md-12 col-xs-12">

                                    <table id="Ofimatica-table" class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th width="20%">Tipo <span class="hidden-xs">Educación</span></th>
                                                <th>Centro de Estudios</th>
                                                <th>Curso</th>
                                                <th>Nivel</th>
                                                <th>Inicio</th>
                                                <th>Fin</th>
                                                <th width="4%"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_Ofimatica"></tbody>
                                    </table>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Final-->
@section js
{
    <script type="text/javascript">
        persona = (@Html.Raw(persona));
        postulante = (@Html.Raw(postulante));
        usuario = (@Html.Raw(usuario));
        rutaImage = (@Html.Raw(rutaImage));
    </script>
    <script src="~/Content/viewjs/Persona/OfimaticaVista.js"></script>
}


