@{
    ViewBag.Title = "EmpresaEditarVista";
}

@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@using SistemaReclutamiento.Utilitarios;
@{
    String persona = new JavaScriptSerializer().Serialize(Session["per_full"]);
    string idPersona = Seguridad.Encriptar(Convert.ToString(Session["fk_persona"]));
    String ubigeo = new JavaScriptSerializer().Serialize(Session["ubigeo"]);
    String postulante = new JavaScriptSerializer().Serialize(Session["postulante"]);
    String usuario = new JavaScriptSerializer().Serialize(Session["usu_full"]);
}
<script type="text/javascript">
    personaIndex = (@Html.Raw(persona));
    ubigeo = (@Html.Raw(ubigeo));
    postulante = (@Html.Raw(postulante));
    usuario = (@Html.Raw(usuario));
</script>
<div class="col-md-3 col-sm-3 col-xs-12 profile_left">
    <div class="profile_img">
        <div id="crop-avatar">
            <!-- Current avatar -->
            <img class="img-responsive avatar-view" src="~/images/picture.jpg" alt="Avatar" title="Change the avatar">
        </div>
    </div>
    <h3 id="persona_nombre"></h3>

    <ul class="list-unstyled user_data">
        <li>
            <i class="fa fa-map-marker user-profile-icon"></i><span id="persona_apellidos"></span>
        </li>

        <li>
            <i class="fa fa-br /iefcase user-profile-icon"></i><span id="persona_direccion"></span>
        </li>

        <li class="m-top-xs">
            <i class="fa fa-external-link user-profile-icon"></i>
            <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
        </li>
    </ul>

    <a class="btn btn-success" href="~/Persona/PersonaEditarVista/@(idPersona)"><i class="fa fa-edit m-right-xs"></i>Editar Perfil</a>
    <br>

    <!-- start skills -->
    <h4>Skills</h4>
    <ul class="list-unstyled user_data">
        <li>
            <p>Web Applications</p>
            <div class="progress progress_sm">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
            </div>
        </li>
        <li>
            <p>Website Design</p>
            <div class="progress progress_sm">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
            </div>
        </li>
        <li>
            <p>Automation & Testing</p>
            <div class="progress progress_sm">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
            </div>
        </li>
        <li>
            <p>UI / UX</p>
            <div class="progress progress_sm">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
            </div>
        </li>
    </ul>
    <!-- end of skills -->

</div>
<!--Comienzo-->
<div class="col-md-9 col-xs-12">

    <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Home</a>
            </li>
            <li role="presentation" class="">
                <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Profile</a>
            </li>          
        </ul>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
              

            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                <!-- start accordion -->
                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                   <!--Seccion Datos Personales-->
                    <div class="panel">
                        <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Datos Personales</h4>
                        </a>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <form id="frmDatosPersonales" class="">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" name="per_nombre" id="per_nombre" class="form-control" />
                                        </div>
                                    </div>
                                    <input type="hidden" name="per_id" />
                                    <input type="hidden" name="pos_id" />
                                    <input type="hidden" name="per_correoelectronico" id="per_correoelectronico" />
                                    <input type="hidden" name="pos_estado" id="pos_estado" />
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Apellido Paterno</label>
                                            <input type="text" name="per_apellido_pat" id="per_apellido_pat" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Apellido Materno</label>
                                            <input type="text" name="per_apellido_mat" id="per_apellido_mat" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Tipo de Direccion</label>
                                            <select class="form-control" name="pos_tipo_direccion" id="cbotipoDireccion" style="width:100%">
                                                <option value="">Seleccione</option>
                                                <option value="AVENIDA">Avenida</option>
                                                <option value="CALLE">Calle</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Direccion</label>
                                            <input type="text" name="pos_direccion" id="pos_direccion" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Tipo de Calle</label>
                                            <select class="form-control" name="pos_tipo_calle" id="cbotipoCalle"style="width:100%">
                                                <option value="">Seleccione</option>
                                                <option value="NUMERO">Nro</option>
                                                <option value="MANZANA">Mza.</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">

                                    </div>
                                    <div class="col-md-4 col-xs-12">

                                        <div class="form-group">
                                            <label>Numero de Casa</label>
                                            <input type="text" name="pos_numero_casa" id="pos_numero_casa" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Tipo de Vivienda</label>
                                            <select class="form-control" name="pos_tipo_casa" id="cbotipoCasa" style="width:100%">
                                                <option value="">Seleccione</option>
                                                <option value="CASA">Casa</option>
                                                <option value="DEPARTAMENTO">Departamento</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Esado Civil</label>
                                            <select class="form-control" name="pos_estado_civil" id="cboestadoCivil" style="width:100%">
                                                <option value="">Seleccione</option>
                                                <option value="SOLTERO">Soltero</option>
                                                <option value="CASADO">CASADO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Brevete</label>
                                            <select class="form-control" name="pos_brevete" id="cboBrevete" style="width:100%">
                                                <option value="">Seleccione</option>
                                                <option value=true>SI</option>
                                                <option value=false>NO</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Numero de Brevete</label>
                                            <input type="text" name="pos_num_brevete" id="pos_num_brevete" class="form-control flat" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Tipo de Documento</label>
                                            <select class="form-control" name="per_tipodoc" id="cbotipoDocumento" style="width:100%">
                                                <option value="">Seleccione Tipo de Documento</option>
                                                <option value="DNI">DNI</option>
                                                <option value="PASAPORTE">PASAPORTE</option>
                                                <option value="Pasaporte">Pasaporte</option>
                                                <option value="Carné de Extranjeria">Carné de Extranjeria</option>
                                                <option value="CARNÉ DE EXTRANJERIA">CARNÉ DE EXTRANJERIA</option>
                                                <option value="Otros">Otros</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Nro de Documento</label>
                                            <input type="text" name="per_numdoc" id="per_numdoc" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <label>Fecha de Nacimiento</label>
                                        <div class='input-group date' id='myDatepicker'>
                                            <input type='text' class="form-control" name="per_fechanacimiento" id="per_fechanacimiento" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Telefono</label>
                                            <input type="text" name="per_telefono" id="per_telefono" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Celular</label>
                                            <input type="text" name="pos_celular" id="pos_celular" class="form-control" />
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Sexo</label>
                                            <select name="per_sexo" id="cboSexo" class="form-control" style="width:100%">
                                                <option value="">SEXO</option>
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenino</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Pais</label>
                                            <select class="form-control" name="ubi_pais_id" id="cboPais" style="width:100%">
                                                <option value="">PAIS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">

                                    </div>
                                    
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Departamento</label>
                                            <select class="form-control" name="ubi_departamento_id" id="cboDepartamento" style="width:100%">
                                                <option value="">DEPARTAMENTO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Provincia</label>
                                            <select class="form-control" name="ubi_provincia_id" id="cboProvincia" style="width:100%">
                                                <option value="">PROVINCIA</option>
                                            </select>
                                        </div>
                                    </div>
                                  
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label>Distrito</label>
                                            <select class="form-control" name="ubi_distrito_id" id="cboDistrito" style="width:100%">
                                                <option value="">DISTRITO</option>
                                            </select>
                                        </div>
                                    </div>


                                </form>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-success">Editar</button>
                                        <button type="button" id="btnGuardarDatosPersonales" class="btn btn-success">Guardar</button>
                                        <button class="btn btn-primary" type="button">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin de Datos Personales-->
                    <!--Seccion Educacion Basica-->
                    <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4 class="panel-title">Educacion Básica</h4>
                        </a>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">

                                <form id="frmEducacionBasica">
                                    <input type="hidden" name="per_id" />
                                    <input type="hidden" name="pos_id" />
                                    <input type="hidden" name="fk_postulante" />
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Tipo de Educacion</label>
                                            <select class="form-control" name="eba_tipo" id="cbotipoEducacionBasica" style="width:100%">
                                                <option value="">Seleccione</option>
                                                <option value="PRIMARIA">Primaria</option>
                                                <option value="SECUNDARIA">Secundaria</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Institucion</label>
                                            <input type="text" name="eba_nombre" id="eba_nombre" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Condicion</label>
                                            <select class="form-control" name="eba_condicion" id="cbocondicionEducacionBasica" style="width:100%">
                                                <option value="">Seleccione</option>
                                                <option value="TRUNCO">Trunco</option>
                                                <option value="ENCURSO">En Curso</option>
                                                <option value="CULMINADO">Culminado</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <div class="ln_solid"></div>
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    @*<button type="submit" class="btn btn-success">Editar</button>*@
                                    <button type="button" id="btnGuardarEducacionBasica" class="btn btn-success">Guardar</button>
                                    @*<button class="btn btn-primary" type="button">Cancelar</button>*@
                                </div>
                                
                              
                            </div>
                        </div>
                    </div>
                    <!--Fin de Educacion Basica-->
                    <!--Seccion Educacion Superior-->
                    <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h4 class="panel-title">Educacion Superior</h4>
                        </a>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <form id="frmEducacionSuperior">
                                    <input type="hidden" name="per_id" />
                                    <input type="hidden" name="pos_id" />
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Tipo de Educacion</label>
                                            <select class="form-control" name="esu_tipo" id="cbotipoEducacionSuperior" style="width:100%">
                                                <option value="">Seleccione</option>
                                                <option value="INSTITUTO">Instituto</option>
                                                <option value="UNIVERSIDAD">Universidad</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Centro de Estudios</label>
                                            <input type="text" name="esu_centro_estudio" id="esu_centro_estudio" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Carrera</label>
                                            <input type="text" name="esu_carrera" id="esu_carrera" class="form-control" />
                                        </div>
                                    </div>     
                                    <div class="col-md-4">
                                        <label>Periodo Inicial</label>
                                        <div class="input-group date" id='myDatepicker2'>
                                            <input type='text' class="form-control" name="esu_fecha_inicio" id="esu_fecha_inicio" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Periodo Final</label>
                                        <div class="input-group date" id='myDatepicker3'>
                                            <input type='text' class="form-control" name="esu_fecha_fin" id="esu_fecha_fin" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Condicion</label>
                                            <select class="form-control" name="esu_condicion" id="cbocondicionEducacionBasica" style="width:100%">
                                                <option value="">Seleccione</option>
                                                <option value="TRUNCO">Trunco</option>
                                                <option value="EGRESADO">Egresado</option>
                                                <option value="BACHILLER">Bachiller</option>
                                                <option value="TITULADO">Titulado</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <button type="button" id="btnGuardarEducacionSuperior" class="btn btn-success">Guardar</button>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin de Educacion Superior-->
                </div>
                <!-- end of accordion -->
            </div>
        
        </div>
    </div>

</div>
<!--Final-->
@section js
{
    <script src="~/Content/viewjs/Persona/PersonaIndexVista.js"></script>
}