@{
    ViewBag.Title = "EmpresaEditarVista";
}

@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@using SistemaReclutamiento.Utilitarios;
@{
    String persona = new JavaScriptSerializer().Serialize(Session["per_full"]);
    string idPersona = Seguridad.Encriptar(Convert.ToString((Session["fk_persona"])));
}
<script type="text/javascript">
    personaIndex = (@Html.Raw(persona));
   
</script>
<div class="col-md-3 col-sm-3 col-xs-12 profile_left">
    <div class="profile_img">
        <div id="crop-avatar">
            <!-- Current avatar -->
            <img class="img-responsive avatar-view" src="~/images/picture.jpg" alt="Avatar" title="Change the avatar">
        </div>
    </div>
    <h3 id="persona_nombr /e"></h3>

    <ul class="list-unstyled user_data">
        <li>
            <i class="fa fa-map-marker user-profile-icon"></i><span id="persona_apellidos"></span>
        </li>

        <li>
            <i class="fa fa-br /iefcase user-profile-icon"></i><span id="persona_direccion"></span>
        </li>

        <li class="m-top-xs">
            <i class="fa fa-external-link user-profile-icon"></i>
            <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
        </li>
    </ul>

    <a class="btn btn-success" href="~/Persona/PersonaEditarVista/@(idPersona)"><i class="fa fa-edit m-right-xs"></i>Editar Perfil</a>
    <br / />

    <!-- start skills -->
    <h4>Skills</h4>
    <ul class="list-unstyled user_data">
        <li>
            <p>Web Applications</p>
            <div class="progress progress_sm">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
            </div>
        </li>
        <li>
            <p>Website Design</p>
            <div class="progress progress_sm">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
            </div>
        </li>
        <li>
            <p>Automation & Testing</p>
            <div class="progress progress_sm">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
            </div>
        </li>
        <li>
            <p>UI / UX</p>
            <div class="progress progress_sm">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
            </div>
        </li>
    </ul>
    <!-- end of skills -->

</div>
<div class="col-md-9 col-sm-9 col-xs-12">
    <div class="col-md-3 col-xs-12 widget widget_tally_box">
        <div class="x_panel">
            <div class="x_content">

                <div class="flex">
                    <ul class="list-inline widget_profile_box">                      
                        <li>
                            <h3>Auxiliar de Limpieza</h3>                            
                        </li>                     
                    </ul>
                </div>               

                <div class="flex">
                    <ul class="list-inline">
                        <li>
                            <h3 class="name">Surco - Lima</h3>
                        </li>                      
                    </ul>
                </div>
                <p>
                    <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Postular <span> Ahora!</span></a>
                    Publicado hace 4 Horas
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing">
            <div class="title">
                <h2>Auxiliar de Limpieza</h2>
                <h1>Surco - Lima</h1>
            </div>
            <div class="x_content">
                <div class="">
                    <div class="pricing_features">
                        <ul class="list-unstyled text-left">
                            <li><i class="fa fa-times text-danger"></i> Publicado hace <strong> 4 Horas</strong></li>
                            @*<li><i class="fa fa-times text-danger"></i> <strong>Unlimited</strong> storage</li>
                            <li><i class="fa fa-check text-success"></i> Limited <strong> download quota</strong></li>
                            <li><i class="fa fa-check text-success"></i> <strong>Cash on Delivery</strong></li>
                            <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
                            <li><i class="fa fa-times text-danger"></i> <strong>Unlimited</strong> access to all files</li>
                            <li><i class="fa fa-times text-danger"></i> <strong>Allowed</strong> to be exclusing per sale</li>*@
                        </ul>
                    </div>
                </div>
                <div class="pricing_footer">
                    <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Postular <span> Ahora!</span></a>
                    <p>
                        Publicado hace 4 horas
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section js
{
    <script src="~/Content/viewjs/Persona/PersonaIndexVista.js"></script>
}