
@{
    ViewBag.Title = "conocenos";
    Layout = "~/Views/Shared/_LayoutWebCorporativa.cshtml";
}

<div id="main-content">

    <div class="clear"></div>

    <div class="widget-area-11" style="margin-bottom: 25px;">

        <div class="widget kopa-gallery-widget">

            <div class="gallery-slider flexslider" >
                <ul class="slides" id="ElementoSuperior">
                    <li>
                        <img src="~/Content/WebCorporativa/show.jpg" alt="" />
                        <h2 class="gallery-caption"><div class="gatit">SHOW EN VIVO</div><br>Todas las semanas</h2>
                    </li>
                    <li>
                        <img src="~/Content/WebCorporativa/show2.jpg" alt="" />
                        <h2 class="gallery-caption"><div class="gatit">SHOW EN VIVO</div><br>Todas las semanas</h2>
                    </li>
                    <li>
                        <img src="~/Content/WebCorporativa/show.jpg" alt="" />
                        <h2 class="gallery-caption"><div class="gatit">SHOW EN VIVO</div><br>Todas las semanas</h2>
                    </li>
                    <li>
                        <img src="~/Content/WebCorporativa/show3.jpg" alt="" />
                        <h2 class="gallery-caption"><div class="gatit">SHOW EN VIVO</div><br>Todas las semanas</h2>
                    </li>
                </ul><!--slides-->
            </div><!--gallery-slider-->
        </div><!--kopa-gallery-widget-->

    </div><!--widget-area-11-->


    <div class="clear"></div>
    <div class="elementoDiv">
        <h3 class="h3_"> Apostamos por tu entretenimiento</h3>
        <div class="subtitulo_">
            <p>Brindamos a nuestros clientes la mejor atencion y experiencia a traves de nuestras salas de juegos.</p>
        </div>
        <button class="btn-red">Entérate más</button>
    </div>
    <div class="clear"></div>
    <div id="header-middlet" class="clearfix" style="text-align: center;height: 340px;">
        <img src="~/Content/WebCorporativa/slot.jpg" style="width: 100%;height: 100%;float: left;z-index: 1">
        <div style="width: 100%;height: 100%;position: relative;z-index: 2;background: #ca1b1bd1;"></div>
        <div class="tit_">Desde que iniciamos<br>contamos con sólidos valores</div>
        <div class="row-fluid pds" style="position: absolute;z-index: 3;margin-top: -213px;">
            <div class="span2" style="text-align: center;">
                <a href="#"><img src="~/Content/WebCorporativa/img1.png" alt=""></a>
                <div class="subtitulop_">Disfrutamos lo que hacemos</div>
                <span></span>
            </div>
            <div class="span2" style="text-align: center;">
                <a href="#"><img src="~/Content/WebCorporativa/img5.png" alt=""></a>
                <div class="subtitulop_">Desarrollamos a nuestra gente</div>
                <span></span>
            </div>
            <div class="span2" style="text-align: center;">
                <a href="#"><img src="~/Content/WebCorporativa/img4.png" alt=""></a>
                <div class="subtitulop_">Desarrollamos a nuestra gente</div>
                <span></span>
            </div>
            <div class="span2" style="text-align: center;">
                <a href="#"><img src="~/Content/WebCorporativa/img3.png" alt=""></a>
                <div class="subtitulop_">Desarrollamos a nuestra gente</div>
                <span></span>
            </div>
            <div class="span2" style="text-align: center;">
                <a href="#"><img src="~/Content/WebCorporativa/img2.png" alt=""></a>
                <div class="subtitulop_">Desarrollamos a nuestra gente</div>
                <span></span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="widget-area-4">
        <div class="kopa-divider"></div>
        <h3 class="h3_" style="text-align: center;"> Noticias destacadas</h3>
        <div class="widget kopa-carousel-widget">
            <div class="list-carousel responsive">
                <ul class="kopa-featured-news-carousel" id="ElementoInferior">
                    <li style="width: 234px;">
                        <article class="entry-item clearfix">
                            <div class="entry-thumb" style="margin-bottom: 0px;">
                                <a href="#"><img src="~/Content/WebCorporativa/cascada.jpg" alt="" style="" /></a>
                            </div>
                            <div class="entry-content">
                                <div class="imgsubt">SALAS</div>
                                <div class="titu_noti"><strong>Aniversario de Megacasino</strong></div>
                                <div class="psubtitu_noti">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                            </div>
                            <!--entry-content-->
                        </article>
                        <!--entry-item-->
                    </li>
                    <li style="width: 234px;">
                        <article class="entry-item clearfix">
                            <div class="entry-thumb" style="margin-bottom: 0px;">
                                <a href="#"><img src="~/Content/WebCorporativa/megacasino.jpg" alt="" /></a>
                            </div>
                            <div class="entry-content">
                                <div class="imgsubt">OFICINA</div>
                                <div class="titu_noti"><strong>La previa PJ</strong></div>
                                <div class="psubtitu_noti">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                            </div>
                            <!--entry-content-->
                        </article>
                        <!--entry-item-->
                    </li>
                    <li style="width: 234px;">
                        <article class="entry-item clearfix">
                            <div class="entry-thumb" style="margin-bottom: 0px;">
                                <a href="#"><img src="~/Content/WebCorporativa/mambos.jpg" alt="" /></a>
                            </div>
                            <div class="entry-content">
                                <div class="imgsubt">APUESTA TOTAL</div>
                                <div class="titu_noti"><strong>Aniversario de Megacasino</strong></div>
                                <div class="psubtitu_noti">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                            </div>
                            <!--entry-content-->
                        </article>
                        <!--entry-item-->
                    </li>
                    <li style="width: 234px;">
                        <article class="entry-item clearfix">
                            <div class="entry-thumb" style="margin-bottom: 0px;">
                                <a href="#"><img src="~/Content/WebCorporativa/megacasino.jpg" alt="" /></a>
                            </div>
                            <div class="entry-content">
                                <div class="imgsubt">OFICINA</div>
                                <div class="titu_noti"><strong>La previa PJ</strong></div>
                                <div class="psubtitu_noti">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                            </div>
                            <!--entry-content-->
                        </article>
                        <!--entry-item-->
                    </li>
                    <li style="width: 234px;">
                        <article class="entry-item clearfix">
                            <div class="entry-thumb" style="margin-bottom: 0px;">
                                <a href="#"><img src="~/Content/WebCorporativa/cascada.jpg" alt="" style="" /></a>
                            </div>
                            <div class="entry-content">
                                <div class="imgsubt">SALAS</div>
                                <div class="titu_noti"><strong>Aniversario de Megacasino</strong></div>
                                <div class="psubtitu_noti">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                            </div>
                            <!--entry-content-->
                        </article>
                        <!--entry-item-->
                    </li>
                </ul>
                <!--kopa-featured-news-carousel-->
                <div class="clearfix"></div>
                <div class="carousel-nav clearfix">
                    <a id="prev-1" class="carousel-prev" href="#">&lt;</a>
                    <a id="next-1" class="carousel-next" href="#">&gt;</a>
                </div>
                <div id="pager2" class="pager"></div>
            </div>
            <!--list-carousel-->
        </div>
        <!--kopa-carousel-widget-->
        <div class="kopa-divider"></div>
    </div>
    <!--widget-area-4-->
    <div class="clear"></div>
    <div class="elementoDiv">
        <h3 class="h3_"> Trabaja con nosotros</h3>
        <div class="subtitulo_">
            <p>Forma parte de nuesrto grupo humano altamente calificado para lograr la excelencia enel servicio y atención al cliente</p>
        </div>
        <button class="btn-red">Postula</button>
    </div>
    <div class="clear"></div>
    <!--header-middle-->
</div>
@section js
{

    <script type="text/javascript">
        menu_id = 4;
    </script>
    @*<script src="~/Content/viewjs/WebCorporativa/conocenos.js"></script>*@
}
