
@{
    ViewBag.Title = "PanelPrincipal";
    Layout = "~/Views/Shared/_LayoutWebCorporativa.cshtml";
}
    <div id="main-content">
        <div id="header-middle" class="clearfix" style="text-align: center;">
            <img src="~/Content/WebCorporativa/slot.jpg" style="width: 100%;height: 100%;float: left;z-index: 1">
            <div style="width: 100%;height: 100%;position: relative;z-index: 2;background: #062d1db8;"></div>
            <h2 class="titulo">SALAS</h2>
            <h5 class="subtitulo">Descubre la mejor experiencia en juegos</h5>
        </div>
        <div class="clear"></div>
        <div class="parrafoplomo" id="ElementoSalas">
            <div class="row-fluid" style="">
                <div class="span4 current" style="text-align: center;">
                    <a href="#"><img src="~/Content/WebCorporativa/lima.jpg" alt="" /></a>
                    <div class="subtitulop">Lima</div>
                    <span></span>
                </div>
                <div class="span4" style="text-align: center;">
                    <a href="#"><img src="~/Content/WebCorporativa/chiclayo.jpg" alt="" /></a>
                    <div class="subtitulop">Chiclayo</div>
                    <span></span>
                </div>
                <div class="span4" style="text-align: center;">
                    <a href="#"><img src="~/Content/WebCorporativa/trujillo.jpg" alt="" /></a>
                    <div class="subtitulop">Trujillo</div>
                    <span></span>
                </div>
            </div>
            <div class="row-fluid" style="">
                <div id="header-middle_" class="clearfix">
                    <img src="~/Content/WebCorporativa/marcas.png" style="width: 100%;height: 100%;float: left;z-index: 1">
                </div>
            </div>
            <div class="row-fluid" style="">
                <div class="span4" style="text-align: center;">
                    <a href="#"><img src="~/Content/WebCorporativa/tumbes.jpg" alt="" /></a>
                    <div class="subtitulop">Tumbes</div>
                    <span></span>
                </div>
                <div class="span4" style="text-align: center;">
                    <a href="#"><img src="~/Content/WebCorporativa/chimbote.jpg" alt="" /></a>
                    <div class="subtitulop">Chimbote</div>
                    <span></span>
                </div>
                <div class="span4" style="text-align: center;">
                    <a href="#"><img src="~/Content/WebCorporativa/tacna.jpg" alt="" /></a>
                    <div class="subtitulop">Tacna</div>
                    <span></span>
                </div>
            </div>

        </div>
        <div class="clear"></div>
        <div class="elementoDiv" style="margin-top: 20px;margin-bottom: 20px;">
            <div class="subtitulo_">
                <p>Nuestras salas ofrecen una variedad en juegos de mesas, máquinas y apuestas deportivas acompañados del mejor servicio a través de las cortesias y los espectáculos</p>
            </div>
            <div class="stars_red" style="">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>

        <div class="clear"></div>
        <div class="elementoDiv">
            <h3 class="h3_"> Trabaja con nosotros</h3>
            <div class="subtitulo_">
                <p>Forma parte de nuesrto grupo humano altamente calificado para lograr la excelencia enel servicio y atención al cliente</p>
            </div>
            <button class="btn-red">Postula</button>
        </div>
        <div class="clear"></div>

</div>
{

    <script type="text/javascript">
        menu_id = 1;
    </script>
    <script src="~/Content/viewjs/WebCorporativa/index.js"></script>
}