
@{
    ViewBag.Title = "noticias";
    Layout = "~/Views/Shared/_LayoutWebCorporativa.cshtml";
}

    <div id="main-content">
        <div id="header-middle" class="clearfix" style="text-align: center;">
            <img src="~/Content/WebCorporativa/slot.jpg" style="width: 100%;height: 100%;float: left;z-index: 1">
            <div style="width: 100%;height: 100%;position: relative;z-index: 2;background: #062d1db8;"></div>
            <h2 class="titulo">NOTICIAS</h2>
            <h5 class="subtitulo">Descubre la mejor experiencia en juegos</h5>
        </div>
        <!--header-middle-->
        <div class="clear"></div>
        <div class="elementoDiv">
            <h3 class="h3_"> Vale ser Hincha</h3>
            <div class="subtitulo_">
                <p>Apuesta total con mas de 300 puntos de venta a nivel nacional tambien se encuentra presente en nuestras salas</p>
            </div>
            <button class="btn-red">Entérate más</button>
        </div>
        <div class="clear"></div>
        <div class="widget-area-4">
            <div class="kopa-divider"></div>
            <div class="widget kopa-carousel-widget">
                <div class="list-carousel responsive">
                    <ul class="kopa-featured-news-carousel">
                        <li style="width: 234px;">
                            <article class="entry-item clearfix">
                                <div class="entry-thumb" style="margin-bottom: 0px;">
                                    <a href="#"><img src="~/Content/WebCorporativa/cascada.jpg" alt="" style="" /></a>
                                </div>
                                <div class="entry-content">
                                    <div class="imgsubt">LA CASCADA</div>
                                </div>
                                <!--entry-content-->
                            </article>
                            <!--entry-item-->
                        </li>
                        <li style="width: 234px;">
                            <article class="entry-item clearfix">
                                <div class="entry-thumb" style="margin-bottom: 0px;">
                                    <a href="#"><img src="~/Content/WebCorporativa/megacasino.jpg" alt="" /></a>
                                </div>
                                <div class="entry-content">
                                    <div class="imgsubt">MEGACASINO</div>
                                </div>
                                <!--entry-content-->
                            </article>
                            <!--entry-item-->
                        </li>
                        <li style="width: 234px;">
                            <article class="entry-item clearfix">
                                <div class="entry-thumb" style="margin-bottom: 0px;">
                                    <a href="#"><img src="~/Content/WebCorporativa/mambos.jpg" alt="" /></a>
                                </div>
                                <div class="entry-content">
                                    <div class="imgsubt">MAMBOS</div>
                                </div>
                                <!--entry-content-->
                            </article>
                            <!--entry-item-->
                        </li>
                        <li style="width: 234px;">
                            <article class="entry-item clearfix">
                                <div class="entry-thumb" style="margin-bottom: 0px;">
                                    <a href="#"><img src="~/Content/WebCorporativa/placeholders/post-image/post-5.jpg" alt="" /></a>
                                </div>
                                <div class="entry-content">
                                    <div class="imgsubt">LA CASCADA</div>
                                </div>
                                <!--entry-content-->
                            </article>
                            <!--entry-item-->
                        </li>
                        <li style="width: 234px;">
                            <article class="entry-item clearfix">
                                <div class="entry-thumb" style="margin-bottom: 0px;">
                                    <a href="#"><img src="~/Content/WebCorporativa/placeholders/post-image/post-2.jpg" alt="" /></a>
                                </div>
                                <div class="entry-content">
                                    <div class="imgsubt">LA CASCADA</div>
                                </div>
                                <!--entry-content-->
                            </article>
                            <!--entry-item-->
                        </li>
                    </ul>
                    <!--kopa-featured-news-carousel-->
                    <div class="clearfix"></div>
                    <div class="carousel-nav clearfix">
                        <a id="prev-1" class="carousel-prev" href="#">&lt;</a>
                        <a id="next-1" class="carousel-next" href="#">&gt;</a>
                    </div>
                    <div id="pager2" class="pager"></div>
                </div>
                <!--list-carousel-->
            </div>
            <!--kopa-carousel-widget-->
            <div class="kopa-divider"></div>
        </div>
        <!--widget-area-4-->
        <div class="clear"></div>
        <div class="parrafoBack">
            <div class="parrafodiv">
                <p>Apuesta Total cuenta con el producto más competitivo y la tecnologia más avanzada del mercado de apuestas deportivas.El compromiso con el deporte es firme y continuado y asi lo demuestran los patrocinios de La Liga Santander y La Liga 123, además de las colaboraciones regulares con clubs y entidades del sector deportivo</p>
            </div>
        </div>
        <div class="clear"></div>
        <div id="header-middle" class="clearfix" style="text-align: center;    margin-top: 20px;">
            <img src="~/Content/WebCorporativa/marcas.png" style="width: 100%;height: 100%;float: left;z-index: 1">
        </div>
        <!--header-middle-->
    </div>
