@using SistemaReclutamiento.Models;
@using SistemaReclutamiento.Entidades;
@using SistemaReclutamiento.Utilitarios;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Content/images/icon.png">
    <title>CORPORACION PJ</title>

    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/vendors/icomoon/styles.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="~/Content/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    @*<link href="~/Content/build/css/custom.css" rel="stylesheet">*@
    @*<link href="~/Content/vendors/toastr/toastr.min.css" rel="stylesheet" />*@
    <link href="~/Content/vendors/select2/dist/css/select2.css" rel="stylesheet" />
    @*<link href="~/Content/vendors/bootstrapToogle/bootstrap4-toggle.min.css" rel="stylesheet" />*@
    <link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="~/Content/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="~/Content/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/vendors/jquery.confirm/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <!--DATATABLES-->
    <link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    @*<link href="~/Content/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">*@
</head>

<body>

    <div class="">
        <!-- Top Header Area Start -->
        <nav class="">
                <div class="col-md-12" style="background-color:#ff0000">
                    <div class="row">
                        <div class="col-md-5 ">
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class=""><i class="fa fa-facebook-square" style="font-size: 25px;"></i></a>
                                </li>
                                <li>
                                    <a href="#" class=""><i class="fa fa-twitter-square" style="font-size: 25px;"></i></a>
                                </li>
                                <li>
                                    <a href="#" class=""><i class="fa fa-google-plus-square" style="font-size: 25px;"></i></a>
                                </li>
                                <li>
                                    <a href="#" class=""><i class="fa fa-instagram" style="font-size: 25px;"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-7 text-right">
                            <ul class="list-inline">
                                <li>
                                    <a href="#"><p>Trabaja Con Nosotros</p></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-danger">Intranet</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>
        <!-- Top Header Area End -->
        <!-- page content -->
        <div class="row">
            @RenderBody()

        </div>
        <!-- /page content -->
        <!-- footer content -->

        <div class="col-md-12" style="background-color:#000000">
            ©@DateTime.Now.Year Corporacion PJ
        </div>

        <!-- /footer content -->
    </div>
    <div id="BasePath" class="hidden">@Request.Url.Scheme://@((Request.Url.Authority + Request.ApplicationPath).TrimEnd('/'))/</div>

    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->

    <script src="~/Content/vendors/nprogress/nprogress.js"></script>
    <script src="~/Content/vendors/pnotify/dist/pnotify.js"></script>
    <script src="~/Content/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/Content/vendors/pnotify/dist/pnotify.nonblock.js"></script>
    <script src="~/Content/vendors/loadingoverlay/loadingoverlay.min.js"></script>
    <script src="~/Content/vendors/iCheck/icheck.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    @*<script src="~/Content/vendors/toastr/toastr.min.js"></script>*@
    <script src="~/Content/vendors/loadingoverlay/loadingoverlay.min.js"></script>
    <script src="~/Content/vendors/select2/dist/js/select2.min.js"></script>
    <script src="~/Content/vendors/moment/moment.js"></script>
    <script src="~/Content/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/vendors/jquery-validation/jquery.validate.min.js"></script>
    @*<script src="~/Content/vendors/bootstrapToogle/bootstrap4-toggle.min.js"></script>*@
    <script src="~/Content/vendors/jquery.confirm/jquery-confirm.js"></script>
    <script src="~/Content/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
    <!-- Datatables -->
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    @*<script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="~/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="~/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="~/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/Content/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="~/Content/vendors/jszip/dist/jszip.min.js"></script>
        <script src="~/Content/vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="~/Content/vendors/pdfmake/build/vfs_fonts.js"></script>*@

    <script src="~/Content/build/js/custom.js"></script>
    <script src="~/Content/viewjs/general.js"></script>
    @RenderSection("js", required: false)
</body>
</html>


