@using SistemaReclutamiento.Models;
@using SistemaReclutamiento.Entidades;
@using SistemaReclutamiento.Utilitarios;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Intranet</title>

    <link rel="stylesheet" href="~/Content/intranet/style.css">
    <script src="~/Content/intranet/js/modernizr.foundation.js"></script>

    <!-- switch theme  remove this on live project -->
    <link href="~/Content/intranet/css/schemes/redori.css" id="switchyuk" rel='stylesheet' type='text/css' />

</head>
<body>
    <nav class="pushy pushy-left">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="archive.html">Blog 1</a></li>
            <li><a href="archive_two.html">Blog 2</a></li>
            <li><a href="archive_three.html">Blog 3</a></li>
            <li><a href="single-review.html">Page / Single Review </a>
            <li><a href="single-soundcloud.html">Page Souncloud</a></li>
            <li><a href="single-gallery.html">Page Gallery</a></li>
            <li><a href="single-video.html">Page Video</a></li>
            <li><a href="single.html">Typography</a></li>
            <li><a href="single-left.html">Page Sidebar Left</a></li>
           
            <li><a href="single-element.html">Element</a></li>
        </ul>
    </nav>

    <!-- Site Overlay -->
    <div class="site-overlay"></div>
    <div id="container">
        <header>
            <!-- Header and Nav -->
            <div class="row">
                <div class="twelve columns">
                    <nav class="topbar">
                        <div class="nine columns">
                            <ul class="sf-menu" id="tobar">
                                <li class="current">
                                    <a class="" href="#"> INICIO </a>
                                </li>
                                <li>
                                    <a class="" href="#"> PJ NEWS </a>
                                </li>
                                <li>
                                    <a class="" href="#"> SOMOS PJ </a>
                                </li>
                                <li>
                                    <a class="" href="#"> POLITICAS </a>
                                </li>
                                <li>
                                    <a class="" href="#"> CARRERA </a>
                                </li>
                                <li>
                                    <a class="" href="#"> MI TIEMPO </a>
                                </li>
                                <li>
                                    <a class="" href="#"> GESTION </a>
                                </li>
                            </ul>
                        </div>
                        <div class="three columns">
                            <ul class="sf-menu" id="topsearch">
                                <li class=""><a href="#" style="border-right:0px">Saturday, December 21, 2013</a> </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>


            <div class="row">
                <div class="twelve columns">
                    <!-- off-canvas menus -->
                    <ul id="logos" class="nav-bar">
                        <li class="logos"><a href="#"><img class="logo" src="images/logo.png" alt="" title=""></a><div class="menu-btn">&#9776; </div></li>
                    </ul>



                    <!-- Newsticker Area -->
                    <div class="panel white">
                        <div class="one columns">
                            <div class="trending">Trending</div>
                        </div>
                        <div class="eleven columns">
                            <ul id="ticker01">
                                <li><span>10/10/2007</span><a href="#/ogt/content/news/News183.complete">The first thing that most Javascript programmers</a></li>
                                <li><span>10/10/2007</span><a href="#/ogt/content/news/News175.complete">End up doing is adding some code</a></li>
                                <li><span>10/10/2007</span><a href="#/ogt/content/news/News177.complete">The code that you want to run</a></li>
                                <li><span>08/10/2007</span><a href="#/ogt/content/news/News176.complete">Inside of which is the code that you want to run</a></li>
                                <li><span>08/10/2007</span><a href="#/ogt/content/news/News178.complete">Right when the page is loaded</a></li>
                                <li><span>05/10/2007</span><a href="#/ogt/content/news/News173.complete">Problematically, however, the Javascript code</a></li>
                                <li><span>04/10/2007</span><a href="#/ogt/content/news/News183.complete">The first thing that most Javascript programmers</a></li>
                                <li><span>04/10/2007</span><a href="#/ogt/content/news/News175.complete">End up doing is adding some code</a></li>
                                <li><span>04/10/2007</span><a href="#/ogt/content/news/News177.complete">The code that you want to run</a></li>
                                <li><span>03/10/2007</span><a href="#/ogt/content/news/News176.complete">Inside of which is the code that you want to run</a></li>
                                <li><span>03/10/2007</span><a href="#/ogt/content/news/News178.complete">Right when the page is loaded</a></li>
                                <li><span>01/10/2007</span><a href="#/ogt/content/news/News173.complete">Problematically, however, the Javascript code</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()
        <footer>
            <div class="row">
                <div class="twelve columns">
                    <section id="footer">
                        <!-- widget tags -->
                        <div class="four columns">
                            <div class="widget wcategory">
                                <h3 class="blocktitle"><span>TAGS POST</span></h3>
                                <div class="tagcloud">
                                    <a href="#" rel="tag">Style</a>
                                    <a href="#" rel="tag">masonry</a>
                                    <a href="#" rel="tag">Music</a>
                                    <a href="#" rel="tag">art</a>
                                    <a href="#" rel="tag">design</a>
                                    <a href="#" rel="tag">creative</a>
                                    <a href="#" rel="tag">nature</a>
                                    <a href="#" rel="tag">word</a>
                                    <a href="#" rel="tag">inspiration</a>
                                    <a href="#" rel="tag">video</a>
                                    <a href="#" rel="tag">quote</a>
                                    <a href="#" rel="tag">sytle</a>
                                    <a href="#" rel="tag">life</a>
                                    <a href="#" rel="tag">mas</a>
                                </div>
                            </div>
                        </div>

                        <!-- widget latest comment -->
                        <div class="four columns gridfooter">
                            <div class="widget lastcomment">
                                <h3 class="blocktitle"><span>LATEST COMMENTS</span></h3>
                                <div class="listcomment">
                                    <ul class="listcomment">
                                        <li>
                                            <div class="cthumb">
                                                <a href="#"><img src="images/user1.jpg" alt=""></a>
                                            </div>
                                            <div class="dcomment">
                                                <a href="#"><strong>Richard</strong> on Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis mi, sit amet iaculis orci. Duis v...</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cthumb">
                                                <a href="#"><img src="images/user2.jpg" alt=""></a>
                                            </div>
                                            <div class="dcomment">
                                                <a href="#"><strong>Richard</strong> on Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis mi, sit amet iaculis orci. Duis v...</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cthumb">
                                                <a href="#"><img src="images/user3.jpg" alt=""></a>
                                            </div>
                                            <div class="dcomment">
                                                <a href="#"><strong>Richard</strong> on Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis mi, sit amet iaculis orci. Duis v...</a>
                                            </div>
                                        </li>
                                    </ul>


                                </div>
                            </div>
                        </div>


                        <!-- widget contact -->
                        <div class="four columns">
                            <div class="widget wcontact">
                                <h3 class="blocktitle"><span>OUR CONTACT</span></h3>
                                <div class="dcontact">
                                    <img src="images/logo.png" alt=""><br />
                                    <p>100 Biscayne Blvd. (North) 21st Floor <br />New World Tower Miami,<br /> Florida 33148</p>
                                    <br /><br />
                                    <div class="sn">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-youtube"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row clear"></div>
                        <!-- copyright -->
                        <div class="copyright twelve columns">
                            <div class="five columns">&copy; Copyright 2013, <span style="color:#FF0000;">EXTRA</span>NEWS</div>
                            <div class="seven columns">
                                <div class="backtop">
                                    <a href="#container" class="toppage">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </footer>
    </div>
    <!-- jQuery UI Widget and Effects Core -->
    <script src="~/Content/intranet/js/foundation.min.js"></script>
    <script src="~/Content/intranet/js/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
    <script src="~/Content/intranet/js/jquery.easing.min.js"></script>
    <!-- Latest version (3.0.6) of jQuery Mouse Wheel by Brandon Aaron -->
    <script src="~/Content/intranet/js/jquery.mousewheel.min.js" type="text/javascript"></script>
    <!-- jQuery Kinectic (1.5) used for touch scrolling -->
    <script src="~/Content/intranet/js/jquery.kinetic.js" type="text/javascript"></script>
    <script src="~/Content/intranet/js/pushy.js"></script>
    <script src="~/Content/intranet/js/plugins.js"></script>
    <script src="~/Content/intranet/js/app.js"></script>

    @RenderSection("js", required: false)
</body>
</html>
