<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Corporacion PJ</title>

    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    @*<link href="~/Content/build/css/custom.css" rel="stylesheet">*@
    <link href="~/Content/login.css" rel="stylesheet" />
    @*<link href="~/Content/build/css/custom.min.css" rel="stylesheet">*@
</head>

<body class="nav-md">
    <div class="login">
        <div class="container body">
            <div class="main_container">
                <!-- page content -->
                @RenderBody()
                <!-- /page content -->
            </div>
            <div id="footer-container">
                <div class="footer-content ">
                    <center>
                        <a href="#" style="font-weight: 300; color: #ffffff; padding: 0 3px;">
                            &copy; Corporacion PJ
                        </a>
                    </center>

                </div>
            </div>
        </div>
    </div>
    

    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/vendors/nprogress/nprogress.js"></script>

    <!-- Custom Theme Scripts -->
  
    <script src="~/Content/build/js/custom.js"></script>
    <script src="~/Content/viewjs/general.js"></script>
</body>
</html>

