@{
    Layout = "~/Views/Shared/_LayoutWebCorporativaAdmin.cshtml";
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Inicio</a>
        </li>
        <li class="active">Panel Menus</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs" id="tabmenu" >
                    <li class="active" data-menu_id="1">
                        <a data-toggle="tab" href="#_tab_contenido_0" >
                            <i class="red ace-icon fa fa-tachometer bigger-110"></i>
                            SALAS
                        </a>
                    </li>
                    <li class="" data-menu_id="2">
                        <a data-toggle="tab" href="#_tab_contenido_1" >
                            <i class="red ace-icon fa fa-tachometer bigger-110"></i>
                            APUESTAS DEPORTIVAS
                        </a>
                    </li>
                    <li class="" data-menu_id="3">
                        <a data-toggle="tab" href="#_tab_contenido_2" >
                            <i class="red ace-icon fa fa-tachometer bigger-110"></i>
                            NOTICIAS
                        </a>
                    </li>
                    <li class="" data-menu_id="4">
                        <a data-toggle="tab" href="#_tab_contenido_3" >
                            <i class="red ace-icon fa fa-tachometer bigger-110"></i>
                            CONÓCENOS
                        </a>
                    </li>
                    <li class="" data-menu_id="5">
                        <a data-toggle="tab" href="#_tab_contenido_4" >
                            <i class="red ace-icon fa fa-tachometer bigger-110"></i>
                            PROMOCIONES
                        </a>
                    </li>
                    <li class="" data-menu_id="6">
                        <a data-toggle="tab" href="#_tab_contenido_5" >
                            <i class="red ace-icon fa fa-tachometer bigger-110"></i>
                            CONTACTO
                        </a>
                    </li>
                </ul>

                <div class="tab-content" id="tabcontenido" style="min-height: 380px;height:auto;">
                        <div id="_tab_contenido_0" class="tab-pane in active ">
                            <div class="row" style="margin-bottom:8px">
                                <div class="col-md-12">
                                    <div class="text-warning bigger-110 orange align-center">
                                        Departamentos
                                        <div class="col-md-2 col-sm-6 col-xs-6 pull-right">
                                        <button class="btn btn-white btn-success btn-sm btn-block btn-round btnNuevo" data-id="1" data-rel="tooltip" title="Nuevo Departamento"><i class="ace-icon fa fa-file"></i> Nuevo  </button></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                                <div class="col-md-12">
                                    <div>
                                        <table id="salasTable" class="table table-condensed datatable-salasTable table-striped table-bordered table-hover">
                                            <tbody>
                                                <tr>
                                                    <td colspan="6">
                                                        <div class="alert alert-warning alert-dismissible text-center" style="margin-bottom:0px;"><span>Listando Data</span></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div id="_tab_contenido_1" class="tab-pane in  ">
                            <!--inicio acordeon-->
                            <div id="accordion" class="accordion-style1 panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                &nbsp;seccion #1
                                            </a>
                                        </h4>
                                    </div>

                                    <div class="panel-collapse collapse in" id="collapseOne">
                                        <div class="panel-body">
                                            <!--Inicion Seccion 1-->
                                            <div class="row" style="margin-bottom:8px">
                                                <div class="col-md-12">
                                                    <div class="text-warning bigger-110 orange align-center">
                                                        Slider Superior
                                                        <div class="col-md-2 col-sm-6 col-xs-6 pull-right">
                                                        <button class="btn btn-white btn-success btn-sm btn-block btn-round btnNuevo" data-id="2" data-rel="tooltip" title="Nuevo Departamento"><i class="ace-icon fa fa-file"></i> Nuevo  </button></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <hr />
                                                </div>
                                                <div class="col-md-12">
                                                    <div>
                                                        <table id="sliderApuestaSuperiorTable" class="table table-condensed datatable-sliderApuestaSuperiorTable table-striped table-bordered table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="6">
                                                                        <div class="alert alert-warning alert-dismissible text-center" style="margin-bottom:0px;"><span>Listando Data</span></div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Fin Seccion 1-->
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                &nbsp;Seccion #2
                                            </a>
                                        </h4>
                                    </div>

                                    <div class="panel-collapse collapse" id="collapseTwo">
                                        <div class="panel-body">
                                            <!--Inicion Seccion 1-->
                                            <div class="row" style="margin-bottom:8px">
                                                <div class="col-md-12">
                                                    <div class="text-warning bigger-110 orange align-center">
                                                        Imagen Grande
                                                        <div class="col-md-2 col-sm-6 col-xs-6 pull-right">
                                                        <button class="btn btn-white btn-success btn-sm btn-block btn-round btnNuevo" data-id="3" data-rel="tooltip" title="Nuevo Departamento"><i class="ace-icon fa fa-file"></i> Nuevo  </button></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <hr />
                                                </div>
                                                <div class="col-md-12">
                                                    <div>
                                                        <table id="imagenApuestaInferiorTable" class="table table-condensed datatable-imagenApuestaInferiorTable table-striped table-bordered table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="6">
                                                                        <div class="alert alert-warning alert-dismissible text-center" style="margin-bottom:0px;"><span>Listando Data</span></div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Fin Seccion 1-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--fin acordeon-->
                            
                        </div>
                        <div id="_tab_contenido_2" class="tab-pane in  ">
                            <!--inicio acordeon-->
                            <div id="accordion" class="accordion-style1 panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                &nbsp;seccion #1
                                            </a>
                                        </h4>
                                    </div>

                                    <div class="panel-collapse collapse in" id="collapseThree">
                                        <div class="panel-body">
                                            <!--Inicion Seccion 1-->
                                            <div class="row" style="margin-bottom:8px">
                                                <div class="col-md-12">
                                                    <div class="text-warning bigger-110 orange align-center">
                                                        Slider Superior
                                                        <div class="col-md-2 col-sm-6 col-xs-6 pull-right">
                                                        <button class="btn btn-white btn-success btn-sm btn-block btn-round btnNuevo" data-id="4" data-rel="tooltip" title="Nuevo Departamento"><i class="ace-icon fa fa-file"></i> Nuevo  </button></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <hr />
                                                </div>
                                                <div class="col-md-12">
                                                    <div>
                                                        <table id="sliderNoticiasSuperiorTable" class="table table-condensed datatable-sliderNoticiasSuperiorTable table-striped table-bordered table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="6">
                                                                        <div class="alert alert-warning alert-dismissible text-center" style="margin-bottom:0px;"><span>Listando Data</span></div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Fin Seccion 1-->
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                                <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                &nbsp;Seccion #2
                                            </a>
                                        </h4>
                                    </div>

                                    <div class="panel-collapse collapse" id="collapseFour">
                                        <div class="panel-body">
                                            <!--Inicion Seccion 1-->
                                            <div class="row" style="margin-bottom:8px">
                                                <div class="col-md-12">
                                                    <div class="text-warning bigger-110 orange align-center">
                                                        Imagen Grande
                                                        <div class="col-md-2 col-sm-6 col-xs-6 pull-right">
                                                        <button class="btn btn-white btn-success btn-sm btn-block btn-round btnNuevo" data-id="5" data-rel="tooltip" title="Nuevo Departamento"><i class="ace-icon fa fa-file"></i> Nuevo  </button></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <hr />
                                                </div>
                                                <div class="col-md-12">
                                                    <div>
                                                        <table id="imagenNoticiasInferiorTable" class="table table-condensed datatable-imagenNoticiasInferiorTable table-striped table-bordered table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="6">
                                                                        <div class="alert alert-warning alert-dismissible text-center" style="margin-bottom:0px;"><span>Listando Data</span></div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Fin Seccion 1-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--fin acordeon-->
                        </div>
                        <div id="_tab_contenido_3" class="tab-pane in  ">
                            <!--inicio acordeon-->
                            <div id="accordion" class="accordion-style1 panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                                <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                &nbsp;seccion #1
                                            </a>
                                        </h4>
                                    </div>

                                    <div class="panel-collapse collapse in" id="collapseFive">
                                        <div class="panel-body">
                                            <!--Inicion Seccion 1-->
                                            <div class="row" style="margin-bottom:8px">
                                                <div class="col-md-12">
                                                    <div class="text-warning bigger-110 orange align-center">
                                                        Slider Superior
                                                        <div class="col-md-2 col-sm-6 col-xs-6 pull-right">
                                                        <button class="btn btn-white btn-success btn-sm btn-block btn-round btnNuevo" data-id="6" data-rel="tooltip" title="Nuevo Departamento"><i class="ace-icon fa fa-file"></i> Nuevo  </button></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <hr />
                                                </div>
                                                <div class="col-md-12">
                                                    <div>
                                                        <table id="sliderConocenosSuperiorTable" class="table table-condensed datatable-sliderConocenosSuperiorTable table-striped table-bordered table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="6">
                                                                        <div class="alert alert-warning alert-dismissible text-center" style="margin-bottom:0px;"><span>Listando Data</span></div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Fin Seccion 1-->
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                                <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                &nbsp;Seccion #2
                                            </a>
                                        </h4>
                                    </div>

                                    <div class="panel-collapse collapse" id="collapseSix">
                                        <div class="panel-body">
                                            <!--Inicion Seccion 1-->
                                            <div class="row" style="margin-bottom:8px">
                                                <div class="col-md-12">
                                                    <div class="text-warning bigger-110 orange align-center">
                                                        Slider Inferior
                                                        <div class="col-md-2 col-sm-6 col-xs-6 pull-right">
                                                        <button class="btn btn-white btn-success btn-sm btn-block btn-round btnNuevo" data-id="7" data-rel="tooltip" title="Nuevo Departamento"><i class="ace-icon fa fa-file"></i> Nuevo  </button></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <hr />
                                                </div>
                                                <div class="col-md-12">
                                                    <div>
                                                        <table id="sliderConocenosInferiorTable" class="table table-condensed datatable-sliderConocenosInferiorTable table-striped table-bordered table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="6">
                                                                        <div class="alert alert-warning alert-dismissible text-center" style="margin-bottom:0px;"><span>Listando Data</span></div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Fin Seccion 1-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--fin acordeon-->
                        </div>
                        <div id="_tab_contenido_4" class="tab-pane in  ">
                            <div class="alert alert-warning">Buscando Data.4..</div>
                        </div>
                        <div id="_tab_contenido_5" class="tab-pane in  ">
                            <div class="alert alert-warning">Buscando Data..8.</div>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>

<!-- Inicio Modal Detalle Elemento -->
<div class="modal fade" tabindex="-1" id="modalFormularioDetalleElemento" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header blackheader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"><span id="tituloModalDetalleElemento"></span> Detalle Elemento</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="" id="form_detalle_elemento" method="post">
                        <input type="hidden" name="fk_elemento" id="fk_elemento" value="" />
                        <input type="hidden" name="detel_id" id="detel_id" value="" />
                        <input type="hidden" name="detel_orden" id="detel_orden" value="" />
                        <input type="hidden" name="detel_nombre_imagen" id="detel_nombre_imagen" value="">
                        <input type="hidden" name="detel_nombre_imagen_detalle" id="detel_nombre_imagen_detalle" value="">
                        <input type="hidden" name="fk_tipo" id="fk_tipo" value="" />

                        <div class="col-md-12 col-xs-12 detel-titulo">
                            <div class="form-group">
                                <label id="contenido_detalleelemento">Titulo</label>
                                <div id="div_titulo_detalleelemento">
                                    <input type="text" name="detel_titulo" id="detel_titulo" class="form-control" placeholder="Texto" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 detel-subtitulo">
                            <div class="form-group">
                                <label id="subtitulo_detalleelemento">Subitulo</label>
                                <div id="div_subtitulo_detalleelemento">
                                    <input type="text" name="detel_subtitulo" id="detel_subtitulo" class="form-control" placeholder="Texto" />
                                </div>
                               
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12 detel-parrafo">
                            <div class="form-group">
                                <label id="parrafo_detalleelemento">Texto</label>
                                <div id="div_parrafo_detalleelemento">
                                    <input type="text" name="detel_parrafo" id="detel_parrafo" class="form-control" placeholder="Texto" />
                                </div>
                            </div>
                        </div>
                        <!---Imagen del detalle-->
                        <div class="col-md-12 col-xs-12 detel-imagen">
                            <div class="form-group">
                                <label>Imagen</label>
                                <label class="btn btn-warning" for="detel_imagen">
                                    <span id="spandetel"><i class="fa fa-upload"></i>  Subir Icono</span>
                                    <input id="detel_imagen" name="detel_imagen" type="file" class="form-control" style="display:none;" />
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12" style="display:none" id="divdetel">
                            <div class="col-md-4 col-lg-offset-3 col-xs-12 attachment" style="border: 0px solid black;padding: 5px;text-align: center;">
                                <label class="col-md-12 col-xs-12">Imagen Actual</label>
                                <a id="frm_detel" href="#" class="atch-thumb" style="width:100%;">
                                    <img id="icono_actual_detel" style="width:100px;height:100px" />
                                    <div class="file-name" style="width:100%;text-align:left;"><i class="fa fa-file"></i> <span id="detel_nombre_imagen_modal"></span></div>
                                </a>
                            </div>
                        </div>
                        <!--segunda imagen-->
                        <div class="col-md-12 col-xs-12 detel-imagen-detalle">
                            <div class="form-group">
                                <label>Adjuntar Detalle Imagen</label>
                                <label class="btn btn-warning" for="detel_imagen_detalle">
                                    <span id="spandetel_detalle"><i class="fa fa-upload"></i>  Subir Detalle</span>
                                    <input id="detel_imagen_detalle" name="detel_imagen_detalle" type="file" class="form-control" style="display:none;" />
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12" style="display:none" id="divdetel_detalle">
                           
                            <div class="col-md-4 col-lg-offset-3 col-xs-12 attachment" style="border: 0px solid black;padding: 5px;text-align: center;">
                                <label class="col-md-12 col-xs-12">Icono Actual</label>
                                <a id="frm_detel_detalle" href="#" class="atch-thumb" style="width:100%;">
                                    <img id="icono_actual_detel_detalle" style="width:100px;height:100px"/>
                                    <div class="file-name" style="width:100%;text-align:left;"><i class="fa fa-file"></i> <span id="detel_nombre_imagen_detalle_modal"></span></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="form-control" name="detel_estado" id="detel_estado">
                                    <option value="A" selected>Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn_guardar_detalle_elemento btn-primary"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Detalle Elemento -->

@section js
{
    <script src="~/Content/viewjs/WebCorporativaAdmin/WebMenus.js"></script>
}