@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@using SistemaReclutamiento.Utilitarios;
@{
    String persona = new JavaScriptSerializer().Serialize(Session["per_full"]);
    String usuario = new JavaScriptSerializer().Serialize(Session["usu_full"]);
    String postulante = new JavaScriptSerializer().Serialize(Session["postulante"]);
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="" role="tabpanel">
                <ul id="datosPersonales_ul" class="nav nav-tabs bar_tabs hidden-xs" role="tablist">
                    <li role="presentation" id="myTab" class="active">
                        <a href="#lista_ficha_tab"  role="tab" data-toggle="tab" aria-expanded="true">Listado Fichas</a>
                    </li>
                    @*<li role="presentation" id="myTab2"  >
                        <a href="#ficha_tab" role="tab" data-toggle="tab" aria-expanded="false">Ficha Sintomatológica</a>
                    </li>*@

                    <li class="pull-right" sty>
                        <button type="button" class="btn btn-danger btn_descargar_todo"><i class="fa fa-download"></i> Descargar Seleccionados</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" id="lista_ficha_tab" class="tab-pane fade active in" aria-labelledby="lista_ficha_tab">
                        <table id="fichasListado" class="table table-striped table-bordered table-sm datatable-fichasListado">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Id Usuario</th>
                                    <th>Dir. de Envio</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                          
                            </tbody>
                        </table>
                    </div>
                    @*<div role="tabpanel" class="tab-pane fade in" id="ficha_tab" aria-labelledby="ficha_tab">

                        <form id="frmFichaFormulario-form" class="" method="post">
                            <input type="hidden" name="txt-tipo" id="txt-tipo" value="POSTULANTE" />
                            <input type="hidden" name="txt-id_cus" id="txt-id_cus" value="0"/>
                            <input type="hidden" name="txt-img_act" id="txt-firma_act" value=""/>
                            <input type="hidden" name="txt-estado" id="txt-estado" value="" />
                            <div class="">
                              
                                <div class="col-md-12" style="margin-top:15px;">
                                    <div class="text-center">
                                        <div><b>Anexo 2</b></div>
                                        <div><b>FICHA SINTOMATOLÓGICA</b></div>
                                    </div>
                                </div>

                                <div class="col-md-12" style="margin-top:15px;">
                                    <div class="text-center">
                                        <div>Ficha de Sintomatología COVID-19</div>
                                        <div>Para Regreso al Trabajo</div>
                                        <div>Declaracion Jurada</div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-md-offset-2" style="margin-top:15px;">

                                    <div class="">
                                        <div class="col-md-12">
                                            <div class="form-group text-center">
                                                He recibido explicación del objeto de esta evaluación y me compromento a responder con la verdad.
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        Empresa
                                                    </span>
                                                    <input type="text" name="txt-empresa" id="txt-empresa" class="form-control input-sm" disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        RUC.
                                                    </span>
                                                    <input type="text" name="txt-ruc" id="txt-ruc" class="form-control input-sm" disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        Apellidos y Nombres
                                                    </span>
                                                    <input type="text" name="txt-nombres" id="txt-nombres" class="form-control input-sm" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        Area de Trabajo
                                                    </span>
                                                    <input type="text" name="txt-area" id="txt-area" class="form-control input-sm" disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        DNI
                                                    </span>
                                                    <input type="text" name="txt-dni" id="txt-dni" class="form-control input-sm" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        Dirección
                                                    </span>
                                                    <input type="text" name="txt-direccion" id="txt-direccion" class="form-control input-sm" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        Celular
                                                    </span>
                                                    <input type="text" name="txt-celular" id="txt-celular" class="form-control input-sm" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:15px;">
                                            <div class="form-group">
                                                1.- En los últimos 14 dias calendario ha tenido algunos de los síntomas siguientes:
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:5px;">
                                            <div class="col-md-10 col-sm-8 col-xs-8">
                                                <div class="form-group" style="padding-top: 2px;">
                                                    a. Sensación de alza térmica o fiebre
                                                </div>

                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-4" style="text-align: right;padding-right: 0px;">
                                                <div class="form-check pl-0">
                                                    <input 
                                                            class="preg1 pregunta"
                                                           type="checkbox" 
                                                           name="cbo1" 
                                                           id="cbo1" 
                                                           data-height="30px" 
                                                           data-toggle="toggle"
                                                           data-on="Si" 
                                                           data-off="No" 
                                                           data-onstyle="primary" 
                                                           data-offstyle="danger" 
                                                           value="1"
                                                           data-predesc="Sensación de alza térmica o fiebre"
                                                           data-fkpreg="1"
                                                           data-restipo="CERRADA"
                                                           data-id="0"
                                                           data-uprid="0"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:5px;">
                                            <div class="col-md-10 col-xs-8">
                                                <div class="form-group" style="padding-top: 2px;">
                                                    b. Tos, estornudo o dificultad para respirar
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-xs-4" style="text-align: right;padding-right: 0px;">
                                                <div class="form-check pl-0">
                                                    <input 
                                                            class="preg2 pregunta"
                                                           type="checkbox" 
                                                           name="cbo2" 
                                                           id="cbo2" 
                                                           data-height="30px" 
                                                           data-toggle="toggle" 
                                                           data-on="Si" 
                                                           data-off="No" 
                                                           data-onstyle="primary" 
                                                           data-offstyle="danger" 
                                                           value="1"
                                                           data-predesc="Tos, estornudo o dificultad  para respirar"
                                                           data-fkpreg="2"
                                                           data-restipo="CERRADA"
                                                           data-id="0"
                                                           data-uprid="0"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:5px;">
                                            <div class="col-md-10 col-xs-8">
                                                <div class="form-group" style="padding-top: 2px;">
                                                    c. Expectoracion o flema amarilla o verdosa
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-xs-4" style="text-align: right;padding-right: 0px;">
                                                <div class="form-check pl-0">
                                                    <input  
                                                           class="preg3 pregunta"
                                                           type="checkbox" 
                                                           name="cbo3" 
                                                           id="cbo3" 
                                                           data-height="30px" 
                                                           data-toggle="toggle" 
                                                           data-on="Si" 
                                                           data-off="No" 
                                                           data-onstyle="primary" 
                                                           data-offstyle="danger" 
                                                           value="1"
                                                           data-predesc="Expectoracion o flema amarilla o verdosa"
                                                           data-fkpreg="3"
                                                           data-restipo="CERRADA"
                                                           data-id="0"
                                                           data-uprid="0"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:5px;">
                                            <div class="col-md-10 col-xs-8">
                                                <div class="form-group" style="padding-top: 2px;">
                                                    d. Contacto con persona(s) con un caso confirmado de COVID19
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-xs-4" style="text-align: right;padding-right: 0px;">
                                                <div class="form-check pl-0">
                                                    <input 
                                                           class="preg4 pregunta"
                                                           type="checkbox" 
                                                           name="cbo4" 
                                                           id="cbo4" 
                                                           data-height="30px" 
                                                           data-toggle="toggle" 
                                                           data-on="Si" 
                                                           data-off="No" 
                                                           data-onstyle="primary" 
                                                           data-offstyle="danger"
                                                           value="1"
                                                           data-predesc="Contacto con persona(s) con un caso confirmado de COVID19"
                                                           data-fkpreg="4"
                                                           data-restipo="CERRADA"
                                                           data-id="0"
                                                           data-uprid="0"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:5px;">
                                            <div class="col-md-10 col-xs-8">
                                                <div class="form-group" style="padding-top: 2px;">
                                                    e. Esta tomando alguna medicación (detallar)
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-xs-4" style="text-align: right;padding-right: 0px;">
                                                <div class="form-check pl-0">
                                                    <input 
                                                           class="preg5 pregunta"
                                                           type="checkbox" 
                                                           name="cbo5" 
                                                           id="cbo5" 
                                                           data-height="30px" 
                                                           data-toggle="toggle" 
                                                           data-on="Si" 
                                                           data-off="No" 
                                                           data-onstyle="primary" 
                                                           data-offstyle="danger" 
                                                           value="1"
                                                           data-predesc="Esta tomando alguna medicación (detallar)"
                                                           data-fkpreg="5"
                                                           data-restipo="ABIERTA"
                                                           data-id="0"
                                                           data-uprid="0"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 divdetalle5" style="margin-top:0px; display:none">
                                            <div class="col-md-12">
                                                <div class="form-group" style="padding-top: 2px;">
                                                    <input 
                                                           class="form-control input-sm preg6 detalle" 
                                                           type="text" 
                                                           name="detalle5" 
                                                           id="detalle5"                                                           
                                                           data-predesc="Esta tomando alguna medicación (detallar)"
                                                           data-fkpreg="5"
                                                           data-restipo="ABIERTA"
                                                           data-id="0"
                                                           data-uprid="0"
                                                           />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:15px;clear:both;">
                                            <div class="col-md-10 col-xs-8">
                                                <div class="row">
                                                    <div class="form-group" style="padding-top: 2px;">
                                                        2.- Estoy considerado como persona de riesgo frente a COVID-19*
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-2 col-xs-4" style="text-align: right;padding-right: 0px;">
                                                <div class="form-check pl-0">
                                                    <input 
                                                           class="preg6 pregunta"
                                                           type="checkbox" 
                                                           name="cbo6" 
                                                           id="cbo6" 
                                                           data-height="30px" 
                                                           data-toggle="toggle" 
                                                           data-on="Si" 
                                                           data-off="No" 
                                                           data-onstyle="primary" 
                                                           data-offstyle="danger" 
                                                           value="1"
                                                           data-predesc="Estoy considerado como persona de riesgo frente a COVID-19*"
                                                           data-fkpreg="6"
                                                           data-restipo="CERRADA"
                                                           data-id="0"
                                                           data-uprid="0"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="clear:both;">
                                            <hr style="margin-top:5px;margin-bottom:5px;" />
                                        </div>
                                        <div class="col-md-12" style="margin-top:15px;clear:both;">
                                            <div class="form-group">
                                                Todos los datos expresados en esta ficha constituyen declaracion jurada de mi parte. He sido informado que de omitir o
                                                falsear informacion puedo perjudicar la salud de mis compañeros y la mia propia, lo cual de constituir una falta grave a la salud pública, asumo sus consecuencias.
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                Fecha
                                                            </span>
                                                            <input type="text" name="fecha" id="txt-fecha" class="form-control input-sm" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-md-offset-3">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                Firma
                                                            </span>
                                                            <input type="file" name="firma" id="txt-firma" class="form-control input-sm" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12" style="margin-top:15px;font-size:10px">
                                            <div class="form-group">
                                                *Persona de riesgo frente a COVID-19: Edad mayor de 65 años, Hipertensión arterial no controlada, enfermedades cardiovasculares graves, cáncer, diabetes mellitus,
                                                asma moderada o grave, enfermedad pulmonar crónica, enfermedad o tratamiento inmunosupresor, obesidad con indice de masa musculkar (IMC)
                                                de 40 a más, insuficiencia renal cronica en tratamiento con hemodialisis.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>


@section js
{
    <script type="text/javascript">
        persona = (@Html.Raw(persona));
        usuario = (@Html.Raw(usuario));
        postulante = (@Html.Raw(postulante));
    </script>
    <script src="~/Content/viewjs/OfertaLaboral/FormularioFichaVista.js"></script>
}
