@{
    Layout = "~/Views/Shared/_LayoutIntranetPJAdmin.cshtml";
}

@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls

@{
        int rolId = 0;
    }

    @{
        if (ViewBag.rolId == null)
        {
            Response.Redirect("~/Home/Login");
        }
        else
        {
            rolId = ViewBag.rolId;
        }
    }
    <script type="text/javascript">
        rolid =  (@Html.Raw(rolId));
    </script>

@*@section css{

        <link href="@Url.Content("~/Content/assets/css/optional/timeline/component.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/assets/css/optional/timeline/timeline.css")" rel="stylesheet" type="text/css" />
        <style>
            .panel {
                padding: 0px;
            }

            #listaRoles {
                background: white;
                border: 1px solid black;
            }

                #listaRoles li {
                    border-bottom: 1px solid black;
                }
        </style>
    }*@
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Inicio</a>
        </li>
        <li class="active">Panel Boletas GDT</li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable" style="margin-left:10px;margin-top:10px;">
                <ul class="nav nav-tabs" id="myTab3">
                    <li class="active">
                        <a data-toggle="tab" href="#tab1" data-tab="tab1">
                            <i class="orange ace-icon fa fa-tachometer bigger-110"></i>
                            Asignar Menús
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#tab2" data-tab="tab2">
                            <i class="red ace-icon fa fa-envelope bigger-110"></i>
                            Asignar Permisos
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#tab3" data-tab="tab3">
                            <i class="green ace-icon fa fa-linkedin-square bigger-110"></i>
                            Asignar Rol
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tab1" class="tab-pane in active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-offset-8 col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Rol
                                                </span>
                                                <select class="form-control input-sm" id="cboRol_" name="cboRol_">
                                                    <option value="">--Seleccione--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="posicionMenu" />
                                <ul class="" id="libody" style="margin-top: 6px;">
                                    <li class="alert alert-danger" style="padding: 5px;">Espere mientras Cargan los Modulos</li>
                                </ul>
                                <div id="timeline-1">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                                            <div class="timeline-container">
                                                <div class="timeline-label">
                                                    <span class="label label-danger arrowed-in-right label-lg">
                                                        <b>MENUS</b>
                                                    </span>
                                                </div>
                                                <div id="libody2">

                                                </div>
                                            </div><!-- /.timeline-container -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div id="tab2" class="tab-pane">
                        <div class="row">
                            <div class="col-md-12">
                                @*<p class="alert alert-danger" style="padding: 5px;">Listado de Roles y sus Permisos</p>*@

                                <div class="mailbox">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-2">
                                            <div class="mailbox-menu">
                                                <div class="mailbox-compose-outer">
                                                    <div class="compose-message">

                                                        <a href="javascript:void(0);" class="btn btn-block" role="button" style="background-color: #143958;color:white;">
                                                            <span class="glyphicon glyphicon-arrow-down"></span>
                                                            ROLES
                                                        </a>
                                                    </div>
                                                    <div class="mailbox-mobile-menu-control">
                                                        <button type="button" class="btn btn-default within-content-navbar-toggle" data-c-target="#listaRoles">
                                                            <span class="sr-only">Toggle navigation</span>
                                                            <span class="icon-bar"></span>
                                                            <span class="icon-bar"></span>
                                                            <span class="icon-bar"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <ul class="nav nav-pills nav-stacked" id="listaRoles"></ul>

                                            </div>
                                        </div>
                                        <div class="col-md-9 col-lg-10" id="tab2Permisos">
                                            <p class="alert alert-danger" style="padding: 5px;" id="alertapermisos">Seleccione Rol</p>
                                            <div class="mailbox-container mailbox-email-list" id="contenidopermisos" style="display:none;">
                                                <div class="mailbox-controls">
                                                    <div class="row">
                                                        <div class="col-md-12" style="text-align: center;text-transform: uppercase;margin-bottom: 20px;color: green;font-weight: bolder;">
                                                            Rol <span id="nombreRolSpan"></span> -  permisos <span class="badge badge-bordered" id="totalPermisosSpan" style="position: relative;top: -3px;"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class=" email-select-all col-md-4">
                                                            <label id="lblcheck">
                                                                <input type="checkbox" data-todos="2" id="fullall">
                                                                <span class="main-text">
                                                                    SELECCIONAR TODO
                                                                </span>
                                                            </label>
                                                            <label id="lblesperando" class="alert alert-danger" style="display:none;margin-bottom:0px;margin-top:0px;width:100%;padding:2px">Espere un Momento...</label>
                                                        </div>

                                                        <div class="email-pager-top col-md-8">
                                                            <div class="input-group col-sm-12">
                                                                <span class="input-group-addon">
                                                                    Buscar
                                                                </span>
                                                                <input type="text" class="form-control input-sm inputBuscar" id="mailbox-search-bar" placeholder="Buscar Permiso">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" id="bodyPermisosRoles">



                                                    </div>
                                                </div>
                                                <div class="row" style="text-align:center;display:none;color:red;text-transform:uppercase;font-size:18px;;" id="divfaltanTotal">
                                                    <div class="col-md-12">
                                                        Faltan <span class="badge badge-bordered" style="position: relative;top: -3px" id="totalPermisosSpanFaltan"></span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <ul id="tabsRoles" class="nav nav-tabs tabs-left"></ul>
                                    <div id="divRoles" class="tab-content">

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div id="tab3" class="tab-pane">
                        <div class="row">
                            <div class="col-md-12 tam">
                                <p class="alert alert-danger" style="padding: 5px;">Listado de Usuarios y sus Roles Asignados</p>

                                <table id="tableUsuRol" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover table-condensed"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div><!-- /.page-content -->

@section js
{
    <script src="~/Content/viewjs/SeguridadIntranet/SeguridadIntranetVista.js"></script>
}

