
@{
    Layout = "~/Views/Shared/_LayoutIntranetPJAdmin.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Inicio</a>
        </li>
        <li class="active">Panel Usuario-Empresa</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Seleccione usuario para asignar sus Empresas</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    Usuario
                                </span>
                                <select class="form-control input-sm" style="width:100%" id="cboUsuario" name="cboUsuario"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divUsuario" style="display:none;">
                    <div class="panel-body">
                        <fieldset>
                            <legend>Datos Usuario</legend>
                            <div class="row">
                                <div class="col-md-4 col-xs-12" style="padding-top:10px">
                                    <div class="input-group mt-10">
                                        <span class="input-group-addon">
                                            Usuario
                                        </span>
                                        <input type="text" id="txtUsuario" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-12" style="padding-top:10px">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            Nombres
                                        </span>
                                        <input type="text" id="txtPersona" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12" style="padding-top:10px">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            Correo
                                        </span>
                                        <input type="text" id="txtCorreo" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12" style="padding-top:10px">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            Tipo
                                        </span>
                                        <input type="text" id="txtTipo" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12" style="padding-top:10px">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            Estado
                                        </span>
                                        <input type="text" id="txtEstado" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr />
                        <fieldset>
                            <legend>Empresas</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="divEmpresas">

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->

@section js
{
    <script src="~/Content/viewjs/SeguridadIntranet/UsuarioEmpresa.js"></script>
}
