
@{
    Layout = "~/Views/Shared/_LayoutIntranetPJAdmin.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Inicio</a>
        </li>
        <li class="active">Panel Usuario-Empresa</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-flat widget-header-small">
                        <h4 class="widget-title">Seleccionar Usuario</h4>
                   
                </div>
                <div class="widget-body">
                  
                    <div class="widget-main no-padding">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    Usuario
                                </span>
                                <select class="form-control input-sm" style="width:100%" id="cboUsuario" name="cboUsuario"></select>
                            </div>
                        </div>
                        <div id="divEmpresas">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->

@section js
{
    <script src="~/Content/viewjs/SeguridadIntranet/UsuarioEmpresa.js"></script>
}
