
@{
    Layout = "~/Views/Shared/_LayoutIntranetPJAdmin.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Inicio</a>
        </li>
        <li class="active">Panel Contenido</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning">
                Contenido <strong>Menu!</strong>

            </div>
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs" id="tabmenu">
                    <li class="active">
                        <a data-toggle="tab" href="#home3">
                            <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
                            Home
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#profile3">
                            <i class="blue ace-icon fa fa-user bigger-110"></i>
                            Profile
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#dropdown13">
                            <i class="ace-icon fa fa-rocket"></i>
                            More
                        </a>
                    </li>
                </ul>

                <div class="tab-content" id="tabcontenido" style="min-height: 380px;height:auto;">
                    <div id="home3" class="tab-pane in active ">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                        <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                    </div>

                    <div id="profile3" class="tab-pane">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
                        <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                    </div>

                    <div id="dropdown13" class="tab-pane">
                        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                        <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div><!-- /.page-content -->



<div class="modal fade" tabindex="-1" id="modalFormularioSeccion" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header blackheader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"><span id="tituloModalSeccion">Nueva </span> Sección</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="" id="form_seccion">
                        <input type="hidden" name="sec_id" id="sec_id" value="" />
                        <input type="hidden" name="fk_menu" id="fk_menu" value="" />
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="form-control" name="sec_estado" id="sec_estado">
                                    <option value="A" selected>Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn_guardar_seccion btn-primary"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalFormularioElemento" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header blackheader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"><span id="tituloModalElemento"></span> Elemento</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="" id="form_elemento">
                        <input type="hidden" name="elem_id" id="elem_id" value="" />
                        <input type="hidden" name="fk_seccion" id="fk_seccion" value="" />
                        <input type="hidden" name="elem_orden" id="elem_orden" value="" />
                        <div class="col-md-12 col-xs-12" id="div_tipo_elemento">
                            <div class="form-group" id="div_fk_tipo_elemento">
                                <label>Tipo de Elemento</label>
                                <select class="form-control" name="fk_tipo_elemento" id="fk_tipo_elemento">
                                    <option value="">Tipo de Elemento</option>
                                </select>
                                
                            </div>
                            <div class="form-group" id="div_texto_fk_tipo_elemento">
                                <label>Tipo de Elemento</label>
                                <div class="form-control" id="texto_fk_tipo_elemento"></div>
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Titulo</label>
                                <input type="text" name="elem_titulo" id="elem_titulo" class="form-control" placeholder="Titulo" />
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="form-control" name="elem_estado" id="elem_estado">
                                    <option value="A" selected>Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn_guardar_elemento btn-primary"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section js
{
    <script src="~/Content/viewjs/IntranetPJAdmin/IntranetPJSecciones1.js"></script>
}

