@using System.Web.Script.Serialization
@{
    Layout = "~/Views/Shared/_LayoutIntranetPJAdmin.cshtml";
    String Menu = new JavaScriptSerializer().Serialize(ViewBag.Menu);
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Inicio</a>
        </li>
        <li class="active">Panel Secciones</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">

    <div class="page-header">
        <h1>
            Listado de Secciones
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>

            </small>

        </h1>
   
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <label>Seleccione Menu</label>
                <select class="form-control" name="men_id" id="cboMenus" style="width:100%">
                    <option value="">Seleccione Menu</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12">

            <div class="clearfix">
                <div class="pull-right tableTools-container"><button class="btn btn-sm btn-success" id="btn_nuevo"><i class="fa fa-file"></i> Nuevo</button> <button class="btn btn-sm btn-danger" id="btn_eliminar_varios"><i class="fa fa-trash-o"></i> Eliminar</button></div>
            </div>
            <div class="table-header">
                Secciones con estado Inactivo no seran visibles en la pagina principal
            </div>
            <input type="hidden" id="id_menu" name="id_menu" value=""/>
            <!-- div.table-responsive -->
            <!-- div.dataTables_borderWrap -->
            <div>
                <table id="seccionesListado" class="table datatable-seccionlistado table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td colspan="6">
                                <div class="alert alert-warning alert-dismissible text-center"><span>Seleccione un Menu Para ver sus Secciones</span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->


<div class="modal fade" tabindex="-1" id="modalFormularioSeccion" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="nf"><span id="tituloModalSeccion"></span>Sección</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="" id="form_secciones">
                        <input type="hidden" name="sec_id" id="sec_id" value="" />
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Orden</label>
                                <input type="text" name="sec_orden" id="sec_orden" class="form-control" placeholder="Titulo" />
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="form-control" name="sec_estado" id="sec_estado">
                                    <option value="A" selected>Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-guardar-seccion btn-primary"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-cancelar  btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>



@section js
{
    <script type="text/javascript">
        menu = (@Html.Raw(Menu));
    </script>
    <script src="~/Content/viewjs/IntranetPJAdmin/IntranetPJSecciones.js"></script>
}


