
@{
    Layout = "~/Views/Shared/_LayoutIntranetPJAdmin.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Inicio</a>
        </li>
        <li class="active">Panel Empresas</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable" style="margin-left:10px;margin-top:10px;">
                <ul class="nav nav-tabs" id="myTab3">
                    <li class="active">
                        <a data-toggle="tab" href="#home3">
                            <i class="orange ace-icon fa fa-tachometer bigger-110"></i>
                            Empresas
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="home3" class="tab-pane in active">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-6">
                                    <button class="btn btn-white btn-danger btn-block btn-round" id="btnSincronizar" title="Sincronizar">
                                        <i class="ace-icon fa fa-refresh"></i> Sincronizar Empresas y Crear Directorios
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon input-group-sm">
                                                Empresa
                                            </span>
                                            <select class="form-control mySelect" id="cboEmpresa"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="display:none" id="divInfoEmpresa">
                                <div class="col-md-12" style="padding-bottom:10px">
                                    <form class="" style="padding-bottom:15px">
                                        <fieldset>
                                            <legend>Informacion de la Empresa</legend>
                                            <div class="col-md-7">
                                                <div class="input-group form-group">
                                                    <span class="input-group-addon">
                                                        Razón Social
                                                    </span>
                                                    <input type="text" class="form-control input-sm" id="txtRazonSocial" readonly placeholder="Razón Social">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="input-group form-group">
                                                    <span class="input-group-addon">
                                                        Nomb. Corto
                                                    </span>
                                                    <input type="text" class="form-control input-sm" id="txtNombreCorto" readonly placeholder="Nombre Corto">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group form-group">
                                                    <span class="input-group-addon">
                                                        Rep. Legal
                                                    </span>
                                                    <input type="text" class="form-control input-sm" id="txtRepresentanteLegal" readonly placeholder="Representante Legal">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group form-group">
                                                    <span class="input-group-addon">
                                                        RUC
                                                    </span>
                                                    <input type="text" class="form-control input-sm" id="txtRucs" readonly placeholder="RUCs">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group form-group">
                                                    <span class="input-group-addon">
                                                        Ubicación
                                                    </span>
                                                    <input type="text" class="form-control input-sm" id="txtUbicacion" readonly placeholder="Ubicación">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group form-group">
                                                    <span class="input-group-addon">
                                                        Firma Visible
                                                    </span>
                                                    <input type="text" class="form-control input-sm" id="txtFirmaVisible" readonly placeholder="Firma Visible">
                                                </div>
                                            </div>
                                            <div class="col-md-4" id="divEmpFirmaBase64" style="display:none">
                                                <label>Firma</label> 
                                                <img id="imgEmpFirmaBase64" src="" class="img-thumbnail" alt="" style="width:100px;height:50px;">
                                            </div>
                                        </fieldset>
                                    </form>
                                    <div class="col-md-6">
                                        <a class="btn btn-white btn-info btn-block btn-round" id="btnEditarEmpresa">Editar Empresa</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn btn-white btn-warning btn-block btn-round" id="btnNuevoCertificado">Agregar Certificado</a>
                                    </div>
                                </div>
                                <div class="" id="divInfoCertificados" style="padding-top:10px;display:none;">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <legend>Certificados</legend>
                                            <div id="divDataTableDetalle"></div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->
<div class="modal fade" tabindex="-1" id="modalFormularioCertificado" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header blackheader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="nf"><span id="tituloModalDetalle"></span> Certificado</h4>
            </div>
            <div class="modal-body" id="">
                <div class="row">
                    <form class="" id="form_actividades" method="post">
                        <input type="hidden" name="det_id" id="det_id" value="" />
                        <input type="hidden" name="det_empr_id" id="det_empr_id" value="" />
                        <div class="col-md-12">
                            <div class="input-group form-group">
                                <span class="input-group-addon">
                                    Certificado(.pfx)
                                </span>
                                <input type="file" class="form-control input-sm" id="certificado" name="certificado" placeholder="Subir Certificado Digital(.pfx)">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group form-group">
                                <span class="input-group-addon">
                                    Password
                                </span>
                                <input type="text" class="form-control input-sm" id="det_pass_cert" name="det_pass_cert" placeholder="Password Certificado">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-guardar btn-primary" id="btnGuardarCertificado"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-cancelar  btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
@* Modal Edicion Empresa *@
<div class="modal fade" tabindex="-1" id="modalFormularioEmpresa" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header blackheader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="nf"><span id="tituloModalDetalle"></span> Empresa</h4>
            </div>
            <div class="modal-body" id="">
                <div class="row">
                    <form class="" id="form_actividades" method="post">
                        <input type="hidden" name="emp_id" id="emp_id" value="" />
                        <input type="hidden" name="emp_img_firma" id="emp_img_firma" value="" />
                        <input type="hidden" name="emp_co_ofisis" id="emp_co_ofisis" value="" />
                        <input type="hidden" name="emp_nomb" id="emp_nomb" value="" />
                        <div class="col-md-12">
                            <div class="input-group form-group">
                                <span class="input-group-addon">
                                    Firma
                                </span>
                                <input type="file" class="form-control input-sm" id="firma" name="firma" placeholder="Imagen de Firma (.png,.jpg,.jpeg)">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group form-group">
                                <span class="input-group-addon">
                                    Nombre Corto
                                </span>
                                <input type="text" class="form-control input-sm" id="emp_nomb_corto" name="emp_nomb_corto" placeholder="Nombre Corto">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group form-group">
                                <span class="input-group-addon">
                                    Representante Legal
                                </span>
                                <input type="text" class="form-control input-sm" id="emp_nom_rep_legal" name="emp_nom_rep_legal" placeholder="Representante Legal">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group form-group">
                                <span class="input-group-addon">
                                    RUC
                                </span>
                                <input type="text" class="form-control input-sm" id="emp_rucs" name="emp_rucs" placeholder="RUCs">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group form-group">
                                <span class="input-group-addon">
                                    Firma Visible
                                </span>
                                <select class="form-control input-sm" id="cboFirmaVisible" name="emp_firma_visible">
                                    <option value="1">SI</option>
                                    <option value="0">NO</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-guardar btn-primary" id="btnGuardarEmpresa"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-cancelar btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section js
{
    <script src="~/Content/viewjs/IntranetPJAdmin/IntranetPJEmpresas.js"></script>
}
