@using System.Web.Script.Serialization
@{
    Layout = "~/Views/Shared/_LayoutIntranetPJAdmin.cshtml";
    String Menu = new JavaScriptSerializer().Serialize(ViewBag.Menu);
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Inicio</a>
        </li>
        <li class="active">Panel Secciones</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">

    <div class="page-header">
        <h1>
            Listado de Secciones
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>

            </small>

        </h1>

    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <label>Seleccione Menu</label>
                <select class="form-control" name="men_id" id="cboMenus" style="width:100%">
                    <option value="">Seleccione Menu</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12">

            <div class="clearfix">
                <div class="pull-right tableTools-container"><button class="btn btn-sm btn-success" id="btn_nuevo"><i class="fa fa-file"></i> Nuevo</button> <button class="btn btn-sm btn-danger" id="btn_eliminar_varios"><i class="fa fa-trash-o"></i> Eliminar</button></div>
            </div>
            <div class="table-header">
                Secciones con estado Inactivo no seran visibles en la pagina principal
            </div>
            <input type="hidden" id="id_menu" name="id_menu" value="1" />
            <!-- div.table-responsive -->
            <!-- div.dataTables_borderWrap -->
            <div>
                <table id="seccionesListado" class="table datatable-seccionlistado table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td colspan="6">
                                <div class="alert alert-warning alert-dismissible text-center"><span>Seleccione un Menu Para ver sus Secciones</span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->
@* Inicio Modal Secciones *@
<div class="modal fade" tabindex="-1" id="modalFormularioSeccion" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="nf"><span id="tituloModalSeccion"></span>Sección</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="" id="form_seccion">
                        <input type="hidden" name="sec_id" id="sec_id" value="" />
                        <input type="hidden" name="fk_menu" id="fk_menu" value="" />
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="form-control" name="sec_estado" id="sec_estado">
                                    <option value="A" selected>Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-guardar-seccion btn-primary"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-cancelar  btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
@* Fin Modal Secciones *@
@* Inicion Modal Elemento *@
<div class="modal fade" tabindex="-1" id="modalFormularioElemento" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="nf"><span id="tituloModalElemento"></span>Elemento</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="" id="form_elemento">
                        <input type="hidden" name="elem_id" id="elem_id" value="" />
                        <input type="hidden" name="fk_seccion" id="fk_seccion" value="" />
                        <input type="hidden" name="elem_orden" id="elem_orden" value=""/>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Titulo</label>
                                <input type="text" name="elem_titulo" id="elem_titulo" class="form-control" placeholder="Titulo" />
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" id="div_tipo_elemento" style="display:none">
                            <div class="form-group">
                                <label>Tipo de Elemento</label>
                                <select class="form-control" name="fk_tipo_elemento" id="cboTipoElemento" style="width:100%">
                                    <option value="">Tipo de Elemento</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="form-control" name="elem_estado" id="elem_estado">
                                    <option value="A" selected>Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-guardar-elemento btn-primary"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-cancelar  btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
@* Fin Modal Elemento *@

@* Inicion Modal Detalle Elemento *@
<div class="modal fade" tabindex="-1" id="modalFormularioDetalleElemento" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="nf"><span id="tituloModalDetalleElemento"></span>Detalle Elemento</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="" id="form_detalle_elemento" method="post">
                        <input type="hidden" name="fk_elemento" id="fk_elemento" value="" />
                        <input type="hidden" name="detel_id" id="detel_id" value="" />
                        <input type="hidden" name="fk_seccion_elemento" id="fk_seccion_elemento" value="" />
                        <input type="hidden" name="detel_nombre_imagen" id="detel_nombre_imagen" value="">

                        <div class="col-md-12 col-xs-12 detel-opcion">
                            <div class="form-group">
                                <label>Imagen o Boton con Texto</label>
                                <select id="cboOpcion" name="opcion">
                                    <option value="1">Boton con Texto</option>
                                    <option value="2">Imagen</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12 detel-descripcion">
                            <div class="form-group">
                                <label>Contenido</label>
                                <input type="text" name="detel_descripcion" id="detel_descripcion" class="form-control" placeholder="Nombre" />
                            </div>
                        </div>
                        @*<div class="col-md-12 col-xs-12 detel-imagen">
                            <div class="form-group">
                                <label>Imagen</label>
                                <input id="detel_nombre" name="detel_nombre" type="file" class="form-control" />
                            </div>
                         </div>*@
                        <div class="col-md-12 col-xs-12 detel-imagen">
                            <div class="form-group">
                                <label>Imagen</label>
                                <label class="btn btn-warning" for="detel_nombre">
                                    <span id="spandetel"><i class="fa fa-upload"></i>  Subir Icono</span>
                                    <input id="detel_nombre" name="detel_nombre" type="file" class="form-control" style="display:none;" />
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12" style="display:none" id="divdetel">

                            <div class="col-md-4 col-lg-offset-3 col-xs-12 attachment" style="border: 0px solid black;padding: 5px;text-align: center;">
                                <label class="col-md-12 col-xs-12">Imagen Actual</label>
                                <a id="frm_detel" href="#" class="atch-thumb" style="width:100%;">
                                    <img id="icono_actual_detel" style="width:100px;height:100px" />
                                    @*<i class="glyphicon glyphicon-save-file" style="font-size:120px;"></i>*@
                                    <div class="file-name" style="width:100%;text-align:left;"><i class="fa fa-file"></i> <span id="detel_nombre_imagen_modal"></span></div>
                                    @* <div class="file-name" style="width:100%;text-align:left"><i class="fa fa-calendar"></i> <span id="detel_fecha_imagen">*****</span></div> *@
                                </a>
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12 detel-posicion">
                            <div class="form-group">
                                <label>Posicion</label>
                                <select id="cboPosicion" name="detel_posicion">
                                    <option value="L">Izquierda</option>
                                    <option value="C">Centro</option>
                                    <option value="R">Derecha</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="form-control" name="detel_estado" id="detel_estado">
                                    <option value="A" selected>Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-guardar-detalle-elemento btn-primary"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-cancelar  btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
@* Fin Modal Detalle Elemento *@
@* Inicion Modal Elemento Modal *@
<div class="modal fade" tabindex="-1" id="modalFormularioElementoModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="nf"><span id="tituloModalElementoModal"></span>Elemento Modal</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="" id="form_elemento_modal">
                        <input type="hidden" name="emod_id" id="emod_id" value="" />
                        <input type="hidden" name="fk_seccion_elemento" id="fk_seccion_elemento_modal" value="" />
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Titulo</label>
                                <input type="text" name="emod_titulo" id="emod_titulo" class="form-control" placeholder="Titulo" />
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Tipo de Elemento</label>
                                <select class="form-control" name="fk_tipo_elemento" id="cboTipoElementoModal" style="width:100%">
                                    <option value="">Tipo de Elemento</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="form-control" name="emod_estado" id="emod_estado">
                                    <option value="A" selected>Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-guardar-elemento-modal btn-primary"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-cancelar  btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
@* Fin Modal Elemento Modal *@
@* Inicion Modal Detalle Elemento  Modal*@
<div class="modal fade" tabindex="-1" id="modalFormularioDetalleElementoModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="nf"><span id="tituloModalDetalleElementoModal"></span>Detalle Elemento Modal</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="" id="form_detalle_elemento_modal" method="post">
                        <input type="hidden" name="fk_elemento_modal" id="fk_elemento_modal" value="" />
                        <input type="hidden" name="detelm_id" id="detelm_id" value="" />
                        <input type="hidden" name="fk_seccion_elemento" id="fk_seccion_elemento_modal_" value="" />
                        <div class="col-md-12 col-xs-12 detelm-posicion">
                            <div class="form-group">
                                <label>Imagen o Boton con Texto</label>
                                <select id="cboOpcionElemModal" name="opcion">
                                    <option value="1">Boton con Texto</option>
                                    <option value="2">Imagen</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12 detelm-descripcion">
                            <div class="form-group">
                                <label>Contenido</label>
                                <input type="text" name="detelm_descripcion" id="detelm_descripcion" class="form-control" placeholder="Nombre" />
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 detelm-imagen">
                            <div class="form-group">
                                <label>Imagen</label>
                                <label class="btn btn-warning" for="detelm_nombre">
                                    <span id="spandetelm"><i class="fa fa-upload"></i>  Subir Icono</span>
                                    <input id="detelm_nombre" name="detelm_nombre" type="file" class="form-control" style="display:none;" />
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12" style="display:none" id="divdetelm">
                            <div class="col-md-4 col-lg-offset-3 col-xs-12 attachment" style="border: 0px solid black;padding: 5px;text-align: center;">
                                <label class="col-md-12 col-xs-12">Imagen Actual</label>
                                <a id="frm_detelm" href="#" class="atch-thumb" style="width:100%;">
                                    <img id="icono_actual_detelm" style="width:100px;height:100px" />
                                    @*<i class="glyphicon glyphicon-save-file" style="font-size:120px;"></i>*@
                                    <div class="file-name" style="width:100%;text-align:left;"><i class="fa fa-file"></i> <span id="cvnombre"></span></div>
                                    <div class="file-name" style="width:100%;text-align:left"><i class="fa fa-calendar"></i> <span id="cvfecha">*****</span></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 detelm-posicion">
                            <div class="form-group">
                                <label>Posicion</label>
                                <select id="cboPosicionElemModal" name="detelm_posicion">
                                    <option value="L">Izquierda</option>
                                    <option value="C">Centro</option>
                                    <option value="R">Derecha</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="form-control" name="detelm_estado" id="detelm_estado">
                                    <option value="A" selected>Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-guardar-detalle-elemento-modal btn-primary"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-cancelar  btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
@* Fin Modal Detalle Elemento Modal *@


@section js
{
    <script type="text/javascript">
        menu = (@Html.Raw(Menu));
    </script>
    <script src="~/Content/viewjs/IntranetPJAdmin/IntranetPJSecciones.js"></script>
}


