
@{
    Layout = "~/Views/Shared/_LayoutIntranetPJAdmin.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Inicio</a>
        </li>
        <li class="active">Panel Fichas Sintomatológicas</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                Envio y seguimiento de Fichas Sintomatológicas

            </div>
            <div class="tabbable" style="margin-left:10px;margin-top:10px;">
                <ul class="nav nav-tabs" id="myTab3">
                    <li class="active">
                        <a data-toggle="tab" href="#home3">
                            <i class="orange ace-icon fa fa-tachometer bigger-110"></i>
                            Enviar Links
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#profile3">
                            <i class="red ace-icon fa fa-envelope bigger-110"></i>
                            Empleados
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#profile4">
                            <i class="green ace-icon fa fa-linkedin-square bigger-110"></i>
                            Postulantes
                        </a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div id="home3" class="tab-pane in active">
                        <div class="tabbable">
                            <ul class="nav nav-tabs tab-color-blue background-blue" id="myTab_">
                                <li class="active">
                                    <a data-toggle="tab" href="#tabempleado">
                                        <i class="orange ace-icon fa fa-user bigger-110"></i>
                                        Empleados
                                    </a>
                                </li>

                                <li>
                                    <a data-toggle="tab" href="#tab_postulante" id="tabpostulanted">
                                        <i class="red ace-icon fa fa-user-md bigger-110"></i>
                                        Postulantes
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div id="tabempleado" class="tab-pane in active">
                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="col-md-2 col-sm-6 col-xs-6 pull-right">
                                            <button class="btn btn-white btn-primary btn-sm btn-block btn-round btn_buscarEmpleados" data-id="1" data-rel="tooltip" title="Buscar">
                                                <i class="ace-icon fa fa-search"></i> Buscar
                                            </button>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-xs-6 pull-right">
                                            <button class="btn btn-white btn-success btn-sm btn-block btn-round btn_enviarFichas" data-id="1" data-rel="tooltip" title="Enviar">
                                                <i class="ace-icon fa fa-file"></i> Enviar
                                            </button>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        Empresa(s)
                                                    </span>
                                                    <select class="form-control input-sm" name="empresa[]" id="cbo_empresa">
                                                        @*<option>Seleccione</option>*@
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        Sede(s)
                                                    </span>
                                                    <select class="form-control" name="sede[]" id="cbo_sede">
                                                        @*<option>Seleccione</option>*@
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <table id="fichasenvioListado" class="table table-condensed table-striped table-bordered table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="6">
                                                            <div class="alert alert-warning alert-dismissible text-center"><span>Seleccione empresa o sede para mostrar registros</span></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab_postulante" class="tab-pane">
                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="col-md-2 col-sm-6 col-xs-6 pull-right">
                                            <button class="btn btn-white btn-success btn-sm btn-block btn-round btn_enviarFichasP" data-id="1" data-rel="tooltip" title="Enviar">
                                                <i class="ace-icon fa fa-file"></i> Enviar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <table id="fichapostulanteListado" class="table table-condensed table-striped table-bordered table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="6">
                                                            <div class="alert alert-warning alert-dismissible text-center"><span>Seleccione empresa o sede para mostrar registros</span></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                    <div id="profile3" class="tab-pane">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Desde
                                                </span>
                                                <input type="text" name="desde" id="txt_desde" class="form-control input-sm" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Hasta
                                                </span>
                                                <input type="text" name="hasta" id="txt_hasta" class="form-control input-sm" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon" style="font-size:11px;">
                                                    Estado
                                                </span>
                                                <select class="form-control input-sm" name="estado" id="cboestado">
                                                    <option value="">Seleccione</option>
                                                    <option value="1">Pendiente</option>
                                                    <option value="2">Completado</option>
                                                    <option value="3">Reenviado</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button class="btn btn-white btn-warning btn-sm btn-block btn-round btn_buscarFichas" data-id="1" data-rel="tooltip" title="Buscar">
                                                <i class="ace-icon glyphicon glyphicon-list-alt"></i> Buscar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button class="btn btn-white btn-warning btn-sm btn-block btn-round btn_descargarTodosEmpleados" data-id="1" data-rel="tooltip" title="Descargar">
                                                <i class="fa fa-download"></i> Descargar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table id="fichasestadoListado" class="table table-condensed datatable-fichasestadoListado table-striped table-bordered table-hover">
                                    <tbody>
                                        <tr>
                                            <td colspan="6">
                                                <div class="alert alert-warning alert-dismissible text-center"><span>Listando Data</span></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div id="profile4" class="tab-pane">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Desde
                                                </span>
                                                <input type="text" name="desde" id="txt_desdep" class="form-control input-sm" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Hasta
                                                </span>
                                                <input type="text" name="hasta" id="txt_hastap" class="form-control input-sm" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon" style="font-size:11px">
                                                    Estado
                                                </span>
                                                <select class="form-control input-sm" name="estado" id="cboestadop">
                                                    <option value="">Seleccione</option>
                                                    <option value="1">Pendiente</option>
                                                    <option value="2">Completado</option>
                                                    <option value="3">Reenviado</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button class="btn btn-white btn-warning btn-sm btn-block btn-round btn_buscarFichasp" data-id="1" data-rel="tooltip" title="Buscar">
                                                <i class="ace-icon glyphicon glyphicon-list-alt"></i> Buscar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button class="btn btn-white btn-warning btn-sm btn-block btn-round btn_descargarTodosPostulantes" data-id="1" data-rel="tooltip" title="Descargar">
                                                <i class="fa fa-download"></i> Descargar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <table id="fichaspostulanteListadop" class="table table-condensed datatable-fichaspostulantelistadop table-striped table-bordered table-hover">
                                    <tbody>
                                        <tr>
                                            <td colspan="6">
                                                <div class="alert alert-warning alert-dismissible text-center"><span>Listando Data</span></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div><!-- /.page-content -->
<!--Modal Observaciones-->
<div class="modal fade" tabindex="-1" id="modalObservacion" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header blackheader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Observación</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="" id="form_observacion" method="post">
                        <input type="hidden" name="env_id" id="env_id" value="0" />
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label id="parrafo_observacion">Observación</label>
                                <div id="div_parrafo_observacion">
                                    <input type="text" name="env_observacion" id="env_observacion" class="form-control" placeholder="Texto" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn_guardar_observacion btn-primary"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Cantidad de Envios Empleados-->
<div class="modal fade" tabindex="-1" id="modalEnvioFichasEmpleados" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header blackheader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Envio de Fichas Sintomatológicas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    Se Enviaran -> <span id="cantidad_enviar_empleados"></span> Fichas a Empleados. pulse en "Aceptar" para EnviarFichas
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn_envio_confirmacion_empleados btn-primary"><i class="fa fa-save"></i> Aceptar</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Cantidad de Envios Postulantes-->
<div class="modal fade" tabindex="-1" id="modalEnvioFichasPostulantes" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header blackheader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Envio de Fichas Sintomatológicas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    Se Enviaran -> <span id="cantidad_enviar_postulantes"></span> Fichas a Postulantes. pulse en "Aceptar" para EnviarFichas
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn_envio_confirmacion_postulantes btn-primary"><i class="fa fa-save"></i> Aceptar</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Cantidad de Envios Postulantes-->
<div class="modal fade" tabindex="-1" id="modalBusquedaEmpleados" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header blackheader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Busqueda de Empleados</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="" id="form_observacion" method="post">
                        <input type="hidden" name="env_id" id="env_id" value="0" />
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label>Tipo de Busqueda</label>
                                <div>
                                    <select name="opcion" id="cbo_opcion" class="form-control">
                                        <option value="DNI">DNI</option>
                                        <option value="APELLIDOS">Apellidos</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Ingrese Búsqueda</label>
                                <div>
                                    <input type="text" name="busqueda" id="busqueda" class="form-control" placeholder="Texto" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 col-xs-12">
                        <table id="busquedaEmpleadosListado" class="table table-condensed datatable-busquedaEmpleadosListado table-striped table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <td colspan="6">
                                        <div class="alert alert-warning alert-dismissible text-center"><span>Listando Data</span></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn_buscar_empleados_modal"><i class="fa fa-save"></i> Buscar</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section js
{
    <script src="~/Content/viewjs/IntranetPJAdmin/IntranetPJFichas.js"></script>
}



