USE [master]
GO
/****** Object:  Database [BD_RECLUTAMIENTO]    Script Date: 05/07/2019 17:16:38 ******/
CREATE DATABASE [BD_RECLUTAMIENTO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_RECLUTAMIENTO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BD_RECLUTAMIENTO.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_RECLUTAMIENTO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BD_RECLUTAMIENTO_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_RECLUTAMIENTO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_RECLUTAMIENTO]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 05/07/2019 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[personaId] [int] IDENTITY(1,1) NOT NULL,
	[personaDni] [varchar](8) NOT NULL,
	[personaNombre] [varchar](100) NOT NULL,
	[personaApellidoPaterno] [varchar](100) NOT NULL,
	[personaApellidoMaterno] [varchar](100) NOT NULL,
	[personaEmail] [varchar](100) NULL,
	[personaEstado] [int] NULL,
	[personaFechaNacimiento] [datetime] NULL,
	[personaDireccion] [varchar](50) NULL,
	[personaContacto1] [varchar](12) NULL,
	[personaContacto2] [varchar](12) NULL,
	[personaTelefono] [varchar](10) NULL,
	[personaSexo] [varchar](1) NULL,
	[personaEstadoCivil] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[personaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaCV]    Script Date: 05/07/2019 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaCV](
	[personaCvId] [int] IDENTITY(1,1) NOT NULL,
	[personaId] [int] NOT NULL,
	[archivoRuta] [varchar](100) NOT NULL,
	[archivoExtension] [varchar](10) NOT NULL,
	[archivoNombre] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[personaCvId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 05/07/2019 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[usuarioId] [int] IDENTITY(1,1) NOT NULL,
	[personaId] [int] NOT NULL,
	[usuarioEmail] [varchar](100) NOT NULL,
	[usuarioContrasenia] [varchar](100) NOT NULL,
	[usuarioToken] [varchar](100) NULL,
	[usuarioAvatarExtension] [varchar](250) NULL,
	[usuarioAvatarNombre] [varchar](20) NULL,
	[usuarioAvatarRuta] [varchar](50) NULL,
	[usuarioEstado] [int] NULL,
	[usuarioFechaCreacion] [datetime] NULL,
	[usuarioValidado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([personaId], [personaDni], [personaNombre], [personaApellidoPaterno], [personaApellidoMaterno], [personaEmail], [personaEstado], [personaFechaNacimiento], [personaDireccion], [personaContacto1], [personaContacto2], [personaTelefono], [personaSexo], [personaEstadoCivil]) VALUES (1, N'47316152', N'diego', N'canchari', N'roque', N'd.cancharir@gmail.com', 1, CAST(N'2019-07-05T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Persona] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([usuarioId], [personaId], [usuarioEmail], [usuarioContrasenia], [usuarioToken], [usuarioAvatarExtension], [usuarioAvatarNombre], [usuarioAvatarRuta], [usuarioEstado], [usuarioFechaCreacion], [usuarioValidado]) VALUES (2, 1, N'd.cancharir@gmail.com', N'DqegpAKsMK4=                                                                                        ', NULL, N'asd', N'as', N'asd', 1, CAST(N'2019-07-04T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Persona__1A6FF2FAA3546B47]    Script Date: 05/07/2019 17:16:38 ******/
ALTER TABLE [dbo].[Persona] ADD UNIQUE NONCLUSTERED 
(
	[personaEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Persona__311A725398EEDCCA]    Script Date: 05/07/2019 17:16:38 ******/
ALTER TABLE [dbo].[Persona] ADD UNIQUE NONCLUSTERED 
(
	[personaDni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__314439CCFA52A95F]    Script Date: 05/07/2019 17:16:38 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[usuarioToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__B8D449BDCC4779D3]    Script Date: 05/07/2019 17:16:38 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[usuarioEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PersonaCV]  WITH CHECK ADD FOREIGN KEY([personaId])
REFERENCES [dbo].[Persona] ([personaId])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([personaId])
REFERENCES [dbo].[Persona] ([personaId])
GO
USE [master]
GO
