
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProveedor.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                @*<div class="form-group">
                    <div class="col-md-offset-8 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Rol
                            </span>
                            <select class="form-control input-sm" id="cboRol_" name="cboRol_">
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
<script src="~/Content/viewjs/Proveedor/Proveedor.js"></script>
