
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProveedor.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-paypal"></i> <small>Panel Principal</small></h2>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script src="~/Content/viewjs/menuProveedor.js"></script>
