
@{
    ViewBag.Title = "ProveedorCambiarPasswordVista";
    Layout = "~/Views/Shared/_LayoutProveedor.cshtml";
}
@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@using SistemaReclutamiento.Utilitarios;
@{
    String persona = new JavaScriptSerializer().Serialize(Session["per_proveedor"]);
    String usuario = new JavaScriptSerializer().Serialize(Session["usu_proveedor"]);
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="" role="tabpanel">
                <ul id="datosPersonales_ul" class="nav nav-tabs bar_tabs hidden-xs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#frmCambiarPassword_tab" role="tab" data-toggle="tab" aria-expanded="true">Cambio de Contraseña</a>
                    </li>
                    <li class="pull-right">
                        <button type="button" class="btn btn-danger btn_guardar"><i class="fa fa-save"></i> Guardar</button>
                        <button class="btn btn-primary btn_cancelar" type="button"><i class="fa fa-ban"></i> Cancelar</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="frmCambiarPassword_tab" aria-labelledby="frmCambiarPassword_tab">
                        <form id="frmCambiarPassword-form" class="" method="post">
                            <div class="col-md-9 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 visible-xs" style="margin-bottom:10px;">
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-danger col-xs-12 btn_guardar"><i class="fa fa-save"></i> Guardar</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-primary col-xs-12 btn_cancelar"><i class="fa fa-ban"></i> Cancelar</button>
                                    </div>
                                </div>

                                <input type="hidden" name="per_id" id="per_id" />
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Escriba su nueva contraseña
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Nueva Constraseña</label>
                                                <input type="password" name="usu_password" id="usu_password" class="form-control" placeholder="Contraseña" />
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Repita su nueva contraseña</label>
                                                <input type="password" name="usu_password_repetido" id="usu_password_repetido" class="form-control" placeholder="Repita su contraseña" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="ln_solid"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Final-->
@section js
{
    <script type="text/javascript">
        persona = (@Html.Raw(persona));
        usuario = (@Html.Raw(usuario));
    </script>
    <script src="~/Content/viewjs/menuProveedor.js"></script>
    <script src="~/Content/viewjs/Proveedor/ProveedorCambiarPasswordVista.js"></script>
}

