@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@using SistemaReclutamiento.Utilitarios;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProveedor.cshtml";

    String usuario = new JavaScriptSerializer().Serialize(Session["usu_proveedor"]);
    String proveedor = new JavaScriptSerializer().Serialize(Session["per_proveedor"]);
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-usd"></i> <small>Reporte de Pagos</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            @* Formulario *@
            <form id="frmReportePagos-form" class="" method="post">
                <div class="col-md-10">

                    <div class="col-md-12" style="padding-bottom:5px">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Empresa
                            </span>
                            <select class="form-control input-sm" id="cboCompania" name="cboCompania" style="width:100%"></select>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12" style="padding-bottom:5px">
                        <div class="input-group date" id='myDatepicker1'>
                            <span class="input-group-addon">
                                Fecha Inicio
                            </span>
                            <input type='text' class="form-control" name="fecha_inicio" id="fecha_inicio" data-inputmask="'mask': '9999-99-99'" placeholder="Fecha Inicio" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12" style="padding-bottom:5px">
                        <div class="input-group date" id='myDatepicker2'>
                            <span class="input-group-addon">
                                Fecha Fin
                            </span>
                            <input type='text' class="form-control" name="fecha_final" id="fecha_final" data-inputmask="'mask': '9999-99-99'" placeholder="Fecha Fin" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12" style="padding-bottom:5px">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <button type="button" class="btn btn-danger btn-block btn_filtrar"><i class="fa fa-save"></i> Filtrar</button>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <button type="button" class="btn btn-primary btn-block btn_cancelar"><i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-condensed table-xs table-bordered" id="tablepermiso"></table>
            </div>
        </div>
       
        
        <div id="menu">

        </div>
    </div>
</div>


<div class="container">
    <!-- Basic datatable -->
    <div class="card">
        <div class="card-body">
            
        </div>
    </div>
    <!-- /basic datatable -->
</div>



<!-- modal detalle de Pagos -->
<div class="modal fade bs-example-modal-detalle" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="detalleModalLabel">Detalle de Pago</h4>
               
            </div>
            <div class="modal-body" id="detalleModalBody">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h4 class="text-danger">Total en <span id="moneda"></span> <span class="text-primary" id="subtotal" style="font-size:30px;"></span></h4>
                    </div>
                    <div class="col-md-12">
                       
                            <table class="table table-xs table-condensed table-bordered" id="table-detalle"></table>
                    
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Final-->
@section js
{
    <script type="text/javascript">
        proveedor = (@Html.Raw(proveedor));
        usuario = (@Html.Raw(usuario));
    </script>
    <script src="~/Content/viewjs/menuProveedor.js"></script>
    <script src="~/Content/viewjs/Proveedor/ReportePagosJs.js"></script>
}

