@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@using SistemaReclutamiento.Utilitarios;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProveedor.cshtml";

    String usuario = new JavaScriptSerializer().Serialize(Session["usu_proveedor"]);
    String proveedor = new JavaScriptSerializer().Serialize(Session["per_proveedor"]);
}
<div class="container">


    <div class="row">
        <div class="col-md-12">
            @* Formulario *@
            <form id="frmReportePagos-form" class="" method="post">
                <div class="col-md-12 col-xs-12" style="padding-top:10px;">

                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>Compañia</label>
                            <select class="form-control input-sm" id="cboCompania" name="cboCompania" style="width:100%"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Inicio</label>
                            <div class='input-group date' id='myDatepicker1'>
                                <input type='text' class="form-control" name="fecha_inicio" id="fecha_inicio" data-inputmask="'mask': '9999-99-99'" placeholder="Fecha de Inicio" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Fin</label>
                            <div class='input-group date' id='myDatepicker2'>
                                <input type='text' class="form-control" name="fecha_final" id="fecha_final" data-inputmask="'mask': '9999-99-99'" placeholder="Fecha de Fin" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-danger col-xs-12 btn_filtrar"><i class="fa fa-save"></i> Filtrar</button>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary col-xs-12 btn_cancelar"><i class="fa fa-ban"></i> Cancelar</button>
                        </div>
                    </div>
                </div>

            </form>
            @* End Formuklario *@
            @*<div class="">
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    Usuario
                                </span>
                                <select class="form-control input-sm" id="cboCompania" name="cboCompania">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>*@
            @*<div class="">
                    <div class="col-md-8">
                        <div class="form-group pull-right div_check_total">
                            <div class="icheck_total"><input type="checkbox" id="CheckTodosMenus" checkbox="icheckbox_square-blue" disabled> Seleccionar Todo</div>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
    <div id="menu">
    </div>
    <div class="container">
        <!-- Basic datatable -->
        <div class="card">
            <div class="card-body">
                <table class="table table-xs table-bordered" id="tablepermiso"></table>
            </div>
        </div>
        <!-- /basic datatable -->
    </div>
    <!-- modal detalle de Pagos -->
    <div class="modal fade bs-example-modal-detalle" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="detalleModalLabel">Detalles</h4>
                </div>
                <div class="modal-body" id="detalleModalBody">
                    <table class="table table-xs table-bordered" id="table-detalle"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


</div>
<!--Final-->
@section js
{
    <script type="text/javascript">
        proveedor = (@Html.Raw(proveedor));
        usuario = (@Html.Raw(usuario));
    </script>
    <script src="~/Content/viewjs/Proveedor/ReportePagosJs.js"></script>
}

