@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutIntranetPJ.cshtml";
}

<div class="row">
    <div class="twelve columns ">
        <div id="catslide">
            <ul id="slider" data-orbit>
                <li data-orbit-slide="headline-1">
                    <div class="row">
                        <div class="twelve columns">

                            <div class="itemcatslide">
                                <div class="catf">
                                    <div class="catf-format">
                                        <div class="fp"><i class="fa fa-star"></i></div>
                                        <div class="fdate">15<br /><span>Dec</span></div>
                                    </div>
                                    <div class="imgslide">
                                        <img src="images/img-featured.jpg" alt="" title="" class="slidefeatured">
                                    </div>
                                    <div class="catf-caption">
                                        <h2>Star Trek Into Darkness is a 2013 American</h2>
                                        <span class="meta"><a href="#">MOVIE</a> / 20 Comments / 5 Rate </span>
                                    </div>
                                </div>
                                <div class="listcat">
                                    <div class="title-catf">LATEST MOVIE</div>
                                    <ul class="list-latestcat">
                                        <li><a href="#">The Lords of Salem is a 2012 American Indeendent horror</a></li>
                                        <li><a href="#">At Any Price is a 2012 American drama film film written by Hallie Newton</a></li>
                                        <li><a href="#">Fast and Furious 6 ( lternatively known as Fast Six or Furious 6 ) 2013</a></li>
                                        <li><a href="#">World War Z is a 2013 apocalyptic film directed by Marc Forster</a></li>
                                    </ul>
                                </div>
                                <div class="topcat">
                                    <div class="title-topcat">POPULAR MOVIE</div>
                                    <ul class="list-topcat">
                                        <li>
                                            <div class="tthumb">
                                                <a href="#"><img src="images/top1.jpg" alt="" title=""></a>
                                                <a href="#">
                                                    <div class="overlay">
                                                        <div class="number">01</div>
                                                        <div class="cright">
                                                            <div class="rate">9.7</div>
                                                            <div class="stars">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-full"></i>
                                                                <i class="fa fa-star-empty"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tthumb">
                                                <a href="#"><img src="images/top2.jpg" alt="" title=""></a>
                                                <a href="#">
                                                    <div class="overlay">
                                                        <div class="number">02</div>
                                                        <div class="cright">
                                                            <div class="rate">9.7</div>
                                                            <div class="stars">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-full"></i>
                                                                <i class="fa fa-star-empty"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tthumb">
                                                <a href="#"><img src="images/top3.jpg" alt="" title=""></a>
                                                <a href="#">
                                                    <div class="overlay">
                                                        <div class="number">03</div>
                                                        <div class="cright">
                                                            <div class="rate">9.7</div>
                                                            <div class="stars">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-full"></i>
                                                                <i class="fa fa-star-empty"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li data-orbit-slide="headline-2">
                    <div class="row">
                        <div class="twelve columns">
                            <div class="itemcatslide">
                                <div class="catf">
                                    <div class="catf-format">
                                        <div class="fp"><i class="fa fa-star"></i></div>
                                        <div class="fdate">15<br /><span>Dec</span></div>
                                    </div>
                                    <div class="imgslide">
                                        <img src="images/img-featured2.jpg" alt="" title="" class="slidefeatured">
                                    </div>
                                    <div class="catf-caption">
                                        <h2>OST. Star Trek Into Darkness is a 2013</h2>
                                        <span class="meta"><a href="#">MUSIC</a> / 20 Comments / 5 Rate </span>
                                    </div>
                                </div>
                                <div class="listcat">
                                    <div class="title-catf">LATEST MUSIC BOX</div>
                                    <ul class="list-latestcat">
                                        <li><a href="#">The Lords of Salem is a 2012 American Indeendent horror</a></li>
                                        <li><a href="#">At Any Price is a 2012 American drama film film written by Hallie Newton</a></li>
                                        <li><a href="#">Fast and Furious 6 ( lternatively known as Fast Six or Furious 6 ) 2013</a></li>
                                        <li><a href="#">World War Z is a 2013 apocalyptic film directed by Marc Forster</a></li>
                                    </ul>
                                </div>
                                <div class="topcat">
                                    <div class="title-topcat">POPULAR MUSIC</div>
                                    <ul class="list-topcat">
                                        <li>
                                            <div class="tthumb">
                                                <a href="#"><img src="images/top4.jpg" alt="" title=""></a>
                                                <a href="#">
                                                    <div class="overlay">
                                                        <div class="number">01</div>
                                                        <div class="cright">
                                                            <div class="rate">9.7</div>
                                                            <div class="stars">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-full"></i>
                                                                <i class="fa fa-star-empty"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tthumb">
                                                <a href="#"><img src="images/top5.jpg" alt="" title=""></a>
                                                <a href="#">
                                                    <div class="overlay">
                                                        <div class="number">02</div>
                                                        <div class="cright">
                                                            <div class="rate">9.7</div>
                                                            <div class="stars">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-full"></i>
                                                                <i class="fa fa-star-empty"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tthumb">
                                                <a href="#"><img src="images/top6.jpg" alt="" title=""></a>
                                                <a href="#">
                                                    <div class="overlay">
                                                        <div class="number">03</div>
                                                        <div class="cright">
                                                            <div class="rate">9.7</div>
                                                            <div class="stars">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-full"></i>
                                                                <i class="fa fa-star-empty"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clear"></div>

<!-- Featured Casousel -->
<div class="row">
    <div class="twelve columns ">
        <div class="tcarousel">
            <div class="titlefeatured four columns">
                FEATURED
            </div>
            <div class="six columns ">
                <ul class="nav-carousel right">
                    <li><a href="#">NEWS</a></li>
                    <li><a href="#">MOVIE</a></li>
                    <li><a href="#">SPORT</a></li>
                    <li><a href="#">FINANCE</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Main Carousel -->
<div class="row">
    <div class="twelve columns ">
        <div id="mixedContent">
            <div class="contentBox">
                <img src="images/c1.jpg" alt="Field" />

                <div class="overlay">

                    <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                    <!--	<div class="rate-carousel">9.7</div>-->
                    <div class="title-carousel">
                        <a href="single-review.html">
                            <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="contentBox">
                <img src="images/c2.jpg" alt="Field" />
                <div class="overlay-active">
                    <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                    <div class="rate-carousel">9.7</div>
                    <div class="title-carousel">
                        <a href="single-review.html">
                            <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                        </a>

                    </div>
                </div>

            </div>

            <div class="contentBox">
                <img src="images/c3.jpg" alt="Field" />
                <div class="overlay">
                    <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                    <div class="rate-carousel">9.7</div>
                    <div class="title-carousel">
                        <a href="single-review.html">
                            <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                        </a>

                    </div>
                </div>

            </div>

            <div class="contentBox">
                <img src="images/c4.jpg" alt="Field" />
                <div class="overlay">
                    <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                    <div class="rate-carousel">9.7</div>
                    <div class="title-carousel">
                        <a href="single-review.html">
                            <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                        </a>

                    </div>
                </div>

            </div>

            <div class="contentBox">
                <img src="images/c5.jpg" alt="Field" />
                <div class="overlay">
                    <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                    <div class="rate-carousel">9.7</div>
                    <div class="title-carousel">
                        <a href="single-review.html">
                            <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                        </a>

                    </div>
                </div>

            </div>

            <div class="contentBox">
                <img src="images/c6.jpg" alt="Field" />
                <div class="overlay">
                    <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                    <div class="rate-carousel">9.7</div>
                    <div class="title-carousel">
                        <a href="single-review.html">
                            <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- main content -->
<div class="row">
    <div class="twelve columns">
        <section id="maincontainer">

            <!-- Side Left Main Conten Area -->
            <div class="eight columns">
                <div id="content">
                    <!-- banner area -->
                    <div class="banner8">
                        <a href="#"><img src="images/fullwidthads.jpg" alt=""></a>
                    </div>
                    <!-- end banner -->
                    <h3 class="blocktitle">LATEST POST<span><a href="#">MORE</a></span></h3>
                    <!-- list blog latest news -->
                    <section id="listnews">
                        <ul>
                            <li>
                                <div class="lthumb">
                                    <div class="hover-wrap">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-text-thumb"><a href="images/imgnews.jpg" data-rel="prettyPhoto">ZOOM</a></span>
                                    </div>
                                    <a href="images/imgnews.jpg" data-rel="prettyPhoto"><img src="images/imgnews.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                                        <div class="rate-carousel hide">9.7</div>
                                    </div>

                                </div>

                                <div class="excerpt">
                                    <h2 class="ntitle"><a href="#">iOS & Android: Market Positioning and Typography</a></h2>
                                    <p class="meta-date">December 23,2012, By <a href="#">Rockstar</a> IN <a href="#">MOBILE</a></p>
                                    <div class="desc">
                                        <p>Mucius diceret et eum, eu eum eius civibus vituperatoribus. Mel semper facilisis id, perfecto sensibus corrumpit vel id, at pri sumo mucius. Ea has posse propriae, pri et solum maluisset, ut qui ferri congue. Atqui iisque ius ad. Mea adhuc option voluptaria ex, nec habeo viris ei. Ne qui tota legendos, nam at debitis tractatos.</p>
                                        <a href="#"><i class="fa fa-external-link"></i> READMORE </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="lthumb">
                                    <div class="hover-wrap">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-text-thumb"><a href="images/imgnews2.jpg" data-rel="prettyPhoto">ZOOM</a></span>
                                    </div>
                                    <a href="images/imgnews2.jpg" data-rel="prettyPhoto"><img src="images/imgnews2.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                                        <div class="rate-carousel hide">9.7</div>
                                    </div>

                                </div>

                                <div class="excerpt">
                                    <h2 class="ntitle"><a href="#">Google Maps Now Lets You Display Multiple Routes on One Page</a></h2>
                                    <p class="meta-date">December 23,2012, By <a href="#">Rockstar</a> IN <a href="#">MOBILE</a></p>
                                    <div class="desc">
                                        <p>Mucius diceret et eum, eu eum eius civibus vituperatoribus. Mel semper facilisis id, perfecto sensibus corrumpit vel id, at pri sumo mucius. Ea has posse propriae, pri et solum maluisset, ut qui ferri congue. Atqui iisque ius ad. Mea adhuc option voluptaria ex, nec habeo viris ei. Ne qui tota legendos, nam at debitis tractatos.</p>
                                        <a href="#"><i class="fa fa-external-link"></i> READMORE </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="lthumb">
                                    <div class="hover-wrap">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-text-thumb"><a href="images/imgnews3.jpg" data-rel="prettyPhoto">ZOOM</a></span>
                                    </div>
                                    <a href="images/imgnews3.jpg" data-rel="prettyPhoto"><img src="images/imgnews3.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                                        <div class="rate-carousel">9.7</div>
                                    </div>
                                </div>

                                <div class="excerpt">
                                    <h2 class="ntitle"><a href="#">T-Mobile Announces Free Data Roaming And Texts in 100 Countries</a></h2>
                                    <p class="meta-date">December 23,2012, By <a href="#">Rockstar</a> IN <a href="#">MOBILE</a></p>
                                    <div class="desc">
                                        <p>Mucius diceret et eum, eu eum eius civibus vituperatoribus. Mel semper facilisis id, perfecto sensibus corrumpit vel id, at pri sumo mucius. Ea has posse propriae, pri et solum maluisset, ut qui ferri congue. Atqui iisque ius ad. Mea adhuc option voluptaria ex, nec habeo viris ei. Ne qui tota legendos, nam at debitis tractatos.</p>
                                        <a href="#"><i class="fa fa-external-link"></i> READMORE </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="lthumb">
                                    <div class="hover-wrap">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-text-thumb"><a href="images/imgnews4.jpg" data-rel="prettyPhoto">ZOOM</a></span>
                                    </div>
                                    <a href="images/imgnews4.jpg" data-rel="prettyPhoto"><img src="images/imgnews4.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                                        <div class="rate-carousel">9.7</div>
                                    </div>
                                </div>

                                <div class="excerpt">
                                    <h2 class="ntitle"><a href="#">Everyone Is Leaving Rural Scotland Because the Internet Is Too Slow</a></h2>
                                    <p class="meta-date">December 23,2012, By <a href="#">Rockstar</a> IN <a href="#">MOBILE</a></p>
                                    <div class="desc">
                                        <p>Mucius diceret et eum, eu eum eius civibus vituperatoribus. Mel semper facilisis id, perfecto sensibus corrumpit vel id, at pri sumo mucius. Ea has posse propriae, pri et solum maluisset, ut qui ferri congue. Atqui iisque ius ad. Mea adhuc option voluptaria ex, nec habeo viris ei. Ne qui tota legendos, nam at debitis tractatos.</p>
                                        <a href="#"><i class="fa fa-external-link"></i> READMORE </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="lthumb">
                                    <div class="hover-wrap">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-text-thumb"><a href="images/imgnews5.jpg" data-rel="prettyPhoto">ZOOM</a></span>
                                    </div>
                                    <a href="images/imgnews5.jpg" data-rel="prettyPhoto"><img src="images/imgnews5.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                                        <div class="rate-carousel">9.7</div>
                                    </div>
                                </div>

                                <div class="excerpt">
                                    <h2 class="ntitle"><a href="#">Everyone Is Leaving Rural Scotland Because the Internet Is Too Slow</a></h2>
                                    <p class="meta-date">December 23,2012, By <a href="#">Rockstar</a> IN <a href="#">MOBILE</a></p>
                                    <div class="desc">
                                        <p>Mucius diceret et eum, eu eum eius civibus vituperatoribus. Mel semper facilisis id, perfecto sensibus corrumpit vel id, at pri sumo mucius. Ea has posse propriae, pri et solum maluisset, ut qui ferri congue. Atqui iisque ius ad. Mea adhuc option voluptaria ex, nec habeo viris ei. Ne qui tota legendos, nam at debitis tractatos.</p>
                                        <a href="#"><i class="fa fa-external-link"></i> READMORE </a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </section>
                    <!-- end list blog latest news -->
                    <!-- Block Categories 1 -->
                    <h3 class="blocktitle">ENTERTAINMENT<span><a href="#">MORE</a></span></h3>
                    <section id="catnews">
                        <div class="featured">

                            <div class="lthumb">
                                <div class="hover-wrap">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-text-thumb"><a href="images/imgnews6.jpg" data-rel="prettyPhoto">ZOOM</a></span>
                                </div>
                                <a href="images/imgnews6.jpg" data-rel="prettyPhoto"><img src="images/imgnews6.jpg" alt=""></a>
                                <div class="overlay">
                                    <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                                    <div class="rate-carousel">9.7</div>
                                </div>
                            </div>

                            <div class="excerpt">
                                <h2 class="ntitle"><a href="#">iOS & Android: Market Positioning and Typography</a></h2>
                                <p class="meta-date">December 23,2012, By <a href="#">Rockstar</a> IN <a href="#">MOBILE</a></p>
                                <div class="desc">
                                    <p>Mucius diceret et eum, eu eum eius civibus vituperatoribus. Mel semper facilisis id, perfecto sensibus corrumpit vel id, at pri sumo mucius. Ea has posse propriae, pri et solum maluisset, ut qui ferri congue. Atqui iisque ius ad. Mea adhuc option voluptaria ex, nec habeo viris ei. Ne qui tota legendos, nam at debitis tractatos.</p>
                                    <a href="#"><i class="fa fa-external-link"></i> READMORE </a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <!-- Block Other Category -->
                        <div class="othercat">
                            <div class="otitle">OTHER POST</div>
                            <ul class="oc-horizon">
                                <li>
                                    <div class="octhumb">
                                        <a href="#"><img src="images/n1.jpg" alt=""></a>
                                    </div>
                                    <div class="desc">
                                        <a href="#">TOOLS</a>
                                        <h4><a href="#"> 5 YouTube Exercises to Strengthen Your Core</a></h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="octhumb">
                                        <a href="#"><img src="images/n2.jpg" alt=""></a>
                                    </div>
                                    <div class="desc">
                                        <a href="#">SOCIAL MEDIA</a>
                                        <h4><a href="#">The 2013 Emmy Award Winners, as Determined by Facebook Buzz</a></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- end block category 1 -->
                    <!-- Block Category 2 -->
                    <h3 class="blocktitle">TECHNOLOGY<span><a href="#">MORE</a></span></h3>
                    <section id="cat2news">
                        <!-- Block Featured  -->
                        <div class="featured">
                            <div class="thumb">
                                <div class="hover-wrap">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-text-thumb">ZOOM</span>
                                </div>
                                <img src="images/c2.jpg" alt="">
                                <div class="overlay">
                                    <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                                    <div class="rate-carousel">9.7</div>
                                    <div class="title-carousel">
                                        <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="excerpt">
                                <p class="meta-date">December 23,2012, By <a href="#">Rockstar</a> IN <a href="#">MOBILE</a></p>
                                <div class="desc">
                                    <p>Melt pri sumo mucius. Ea has posse propriae, pri et solum maluisset, ut qui ferri congue. Atqui iisque ius ad. Mea adhuc option voluptaria ex, nec habeo viris ei. Ne qui tota legendos, nam at debitis tractatos.</p>
                                    <a href="#"><i class="fa fa-external-link"></i> READMORE </a>
                                </div>
                            </div>
                        </div>
                        <!-- Block Category Area -->
                        <div class="othercat">
                            <div class="otitle">OTHER POST</div>
                            <ul class="oc-horizon">
                                <li>
                                    <div class="octhumb">
                                        <a href="#"><img src="images/n3.jpg" alt=""></a>
                                    </div>
                                    <div class="desc">
                                        <a href="#">TOOLS</a>
                                        <h4><a href="#"> 5 YouTube Exercises to Strengthen Your Core</a></h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="octhumb">
                                        <a href="#"><img src="images/n4.jpg" alt=""></a>
                                    </div>
                                    <div class="desc">
                                        <a href="#">SOCIAL MEDIA</a>
                                        <h4><a href="#">The 2013 Emmy Award Winners, as Determined by Facebook Buzz</a></h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="octhumb">
                                        <a href="#"><img src="images/n5.jpg" alt=""></a>
                                    </div>
                                    <div class="desc">
                                        <a href="#">SOCIAL MEDIA</a>
                                        <h4><a href="#">The 2013 Emmy Award Winners, as Determined by Facebook Buzz</a></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- end block category 2 -->
                    <!-- Line thin  -->
                    <div class="line1"></div>
                    <!-- Banner Area -->
                    <div class="banner8">
                        <a href="#"><img src="images/banner.jpg" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="four columns gridleft">
                <aside>
                    <!-- widget category post -->
                    <div class="widget wlistcat">
                        <h3 class="blocktitle">GAMEZONE <span><a href="#">MORE</a></span></h3>
                        <div class="getcat">
                            <div class="lthumb">
                                <div class="hover-wrap">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-text-thumb"><a href="images/aside.jpg" data-rel="prettyPhoto">ZOOM</a></span>
                                </div>
                                <a href="images/aside.jpg" data-rel="prettyPhoto"><img src="images/aside.jpg" alt=""></a>
                                <div class="overlay">
                                    <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                                    <div class="rate-carousel">9.7</div>

                                </div>

                            </div>
                            <p class="meta-date">December 21, 2013</p>
                            <a href="#"><h2 class="wtitle">Minecraft Xbox 360 update 8 hopes to deliver 40 fixes this week</h2></a>

                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                                <i class="fa fa-star-empty"></i>
                            </div>
                            <ul class="catlist">
                                <li>
                                    <a href="#">
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Junction Point closed, Spector leaving Disney</h2>
                                    </a><div class="stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                        <i class="fa fa-star-empty"></i>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Barack Obama’s Complete 2013 Inauguration Speech</h2>
                                    </a><div class="stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                        <i class="fa fa-star-empty"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- widget video  -->

                    <div class="widget">
                        <h3 class="blocktitle">SPONSOR ADS 125</h3>
                        <div class="sponsor">
                            <div class="six columns"><a href="#"><img src="images/sample-ad-125-1.jpg" alt=""></a></div>
                            <div class="six columns"><a href="#"><img src="images/sample-ad-125-2.jpg" alt=""></a></div>

                            <div class="six columns"><a href="#"><img src="images/sample-ad-125-3.jpg" alt=""></a></div>
                            <div class="six columns"><a href="#"><img src="images/sample-ad-125-4.jpg" alt=""></a></div>
                            </a>
                            <div class="clearfix clear">
                            </div>
                        </div>

                        <div class="widget">
                            <h3 class="blocktitle">SPONSOR ADS 300</h3>
                            <div class="sponsor">
                                <a href="#"><img src="images/densen-font.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="widget recentvid">
                            <h3 class="blocktitle">RECENT VIDEOS <span><a href="#">MORE</a></span></h3>
                            <div class="getvid">
                                <div class="flex-video widescreen"><iframe height="200" src="http://www.youtube.com/embed/uBEaG6n0XDs" allowfullscreen></iframe></div>
                                <div class="overlay">

                                </div>
                            </div>
                        </div>
                        <!-- widget tranding -->
                        <div class="widget wtrending hide">
                            <h3 class="blocktitle">TOP TRENDING</h3>
                            <div class="titletrend">
                                TRENDING :
                                <span><a href="#">VIEW</a> | <a href="#">LOVE</a> | <a href="#">RATING</a></span>
                            </div>
                            <ul class="listtrend">
                                <li class="wt1"><a href="#">iOS & Android: Market Positioning and Typography</a></li>
                                <li class="wt2"><a href="#">iOS & Android: Market Positioning and Typography</a></li>
                                <li class="wt3"><a href="#">iOS & Android: Market Positioning and Typography</a></li>
                                <li class="wt4"><a href="#">iOS & Android: Market Positioning and Typography</a></li>
                                <li class="wt5"><a href="#">iOS & Android: Market Positioning and Typography</a></li>
                                <li class="wt6"><a href="#">iOS & Android: Market Positioning and Typography</a></li>
                            </ul>
                        </div>
                        <!-- widget custome menus -->
                        <div class="widget wcategory">
                            <h3 class="blocktitle">CATEGORY</h3>
                            <ul class="wl-category">
                                <li><div class="cc">12</div><a href="#" class="ctitle">MOBILE</a></li>
                                <li><div class="cc">1</div><a href="#" class="ctitle">TECHNOLOGY</a></li>
                                <li><div class="cc">6</div><a href="#" class="ctitle">SPORT</a></li>
                                <li><div class="cc">16</div><a href="#" class="ctitle">LIFE STYLE</a></li>
                                <li class="active"><div class="cc">22</div><a href="#" class="ctitle">FINANCE</a></li>
                                <li><div class="cc">11</div><a href="#" class="ctitle">NEWS</a></li>
                                <li><div class="cc">4</div><a href="#" class="ctitle">NEWS</a></li>
                                <li><div class="cc">3</div><a href="#" class="ctitle">STARTUP</a></li>
                            </ul>
                        </div>
                        <!-- widget latest review -->
                        <div class="widget lreview">
                            <h3 class="blocktitle">LATEST REVIEW</h3>
                            <div class="titlereview"><a href="#">The 2013 Emmy Award Winners, as Determined by Facebook Buzz</a></div>
                            <ul class="listreview">
                                <li><div class="ctitle wt2"><div class="cc">9.3</div> Screenplay </div></li>
                                <li><div class="ctitle wt3"><div class="cc">8.9</div> Animation </div></li>
                                <li><div class="ctitle wt4"><div class="cc">8.4</div> Direction </div></li>
                                <li><div class="ctitle wt5"><div class="cc">7.0</div> Story </div></li>
                            </ul>
                            <div class="nreview">
                                <div class="descreview">We Hope the movie makes it to the OSCAR</div>
                                <div class="rateview">7.7</div>
                            </div>
                        </div>
                </aside>
            </div>
        </section>
    </div>
</div>