@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutIntranetPJ.cshtml";

}
@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@{
    String persona = new JavaScriptSerializer().Serialize(Session["perIntranet_full"]);
    String usuario = new JavaScriptSerializer().Serialize(Session["usuIntranet_full"]);
}


<section id="singlepost">
     <table id="Archivos-table" class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Nro</th>
                <th>Nombre</th>
                <th>Extension</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tbody_Archivos"></tbody>
    </table>
</section>

@section js
{

    <script type="text/javascript">
        menu_id = 0;
        persona = (@Html.Raw(persona));
        usuario = (@Html.Raw(usuario));
    </script>
    <script src="~/Content/viewjs/IntranetPJ/IntranetPJLayoutView.js"></script>
    <script src="~/Content/viewjs/IntranetPJ/IntranetPJDescargas.js"></script>
}