@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutIntranetPJ.cshtml";
}


<div class="clear"></div>

<!-- main content -->
<div class="row">
    <div class="twelve columns">
        <section id="maincontainer">

            <!-- Side Left Main Conten Area -->
            <div class="eight columns">
                <div id="content">
                    <h3 class="blocktitle">NOTICIAS </h3>
                    <section id="catnews">
                        <div class="">
                            <div class="twelve columns ">
                                <div id="catslide">
                                    <ul id="slider" data-orbit>
                                        <li data-orbit-slide="headline-1" style="width:100%">
                                            <div class="row">
                                                <div class="twelve columns">
                                                    <div class="itemcatslide">
                                                        <div class="catf">
                                                            <div class="catf-format">
                                                                <div class="fp"><i class="fa fa-star"></i></div>
                                                                <div class="fdate">15<br /><span>Dec</span></div>
                                                            </div>
                                                            <div class="imgslide">
                                                                <img src="~/Content/intranet/images/img-featured.jpg" alt="" title="" class="slidefeatured">
                                                            </div>
                                                            <div class="catf-caption">
                                                                <h2>Star Trek Into Darkness is a 2013 American</h2>
                                                                <span class="meta"><a href="#">MOVIE</a> / 20 Comments / 5 Rate </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li data-orbit-slide="headline-2" style="width:100%">
                                            <div class="row">
                                                <div class="twelve columns">
                                                    <div class="itemcatslide">
                                                        <div class="catf">
                                                            <div class="catf-format">
                                                                <div class="fp"><i class="fa fa-star"></i></div>
                                                                <div class="fdate">15<br /><span>Dec</span></div>
                                                            </div>
                                                            <div class="imgslide">
                                                                <img src="~/Content/intranet/images/img-featured2.jpg" alt="" title="" class="slidefeatured">
                                                            </div>
                                                            <div class="catf-caption">
                                                                <h2>OST. Star Trek Into Darkness is a 2013</h2>
                                                                <span class="meta"><a href="#">MUSIC</a> / 20 Comments / 5 Rate </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </section>

                    <!-- Block Category 2 -->
                    <h3 class="blocktitle">APLICATIVOS FAVORITOS<span><a href="#">MAS</a></span></h3>
                    <section id="cat2news">
                        <!-- Block Featured  -->
                        <div class="featured">
                            <div class="thumb">
                                <img src="~/Content/intranet/images/c2.jpg" alt="">
                                <div class="overlay">
                                    <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                                    <div class="rate-carousel">9.7</div>
                                    <div class="title-carousel">
                                        <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="excerpt">
                                <p class="meta-date">December 23,2012, By <a href="#">Rockstar</a> IN <a href="#">MOBILE</a></p>
                                <div class="desc">
                                    <p>Melt pri sumo mucius. Ea has posse propriae, pri et solum maluisset, ut qui ferri congue. Atqui iisque ius ad. Mea adhuc option voluptaria ex, nec habeo viris ei. Ne qui tota legendos, nam at debitis tractatos.</p>
                                    <a href="#"><i class="fa fa-external-link"></i> LEER MAS </a>
                                </div>
                            </div>
                        </div>
                        <!-- Block Category Area -->
                        <div class="othercat">
                            <ul class="oc-horizon">
                                <li>
                                    <div class="octhumb">
                                        <a href="#"><img src="~/Content/intranet/images/n3.jpg" alt=""></a>
                                    </div>
                                    <div class="desc">
                                        <a href="#">TOOLS</a>
                                        <h4><a href="#"> 5 YouTube Exercises to Strengthen Your Core</a></h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="octhumb">
                                        <a href="#"><img src="~/Content/intranet/images/n4.jpg" alt=""></a>
                                    </div>
                                    <div class="desc">
                                        <a href="#">SOCIAL MEDIA</a>
                                        <h4><a href="#">The 2013 Emmy Award Winners, as Determined by Facebook Buzz</a></h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="octhumb">
                                        <a href="#"><img src="~/Content/intranet/images/n5.jpg" alt=""></a>
                                    </div>
                                    <div class="desc">
                                        <a href="#">SOCIAL MEDIA</a>
                                        <h4><a href="#">The 2013 Emmy Award Winners, as Determined by Facebook Buzz</a></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- end block category 2 -->

                </div>
            </div>

            <div class="four columns gridleft">
                <aside>

                    <div class="widget wlistcat">
                        <h3 class="blocktitle">CUMPLEAÑOS DE OCTUBRE <span><a href="#">MAS</a></span></h3>
                        <div class="getcat">
                            <div class="lthumb_">
                                <a href="#"><img src="~/Content/intranet/images/aside.jpg" alt=""></a>
                                <div class="overlay">
                                    <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                                    <div class="rate-carousel">30</div>
                                </div>

                            </div>
                            <p class="meta-date">December 21, 2013</p>
                            <a href="#"><h2 class="wtitle">Minecraft Xbox 360 update 8 hopes to deliver 40 fixes this week</h2></a>

                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                                <i class="fa fa-star-empty"></i>
                            </div>
                            <ul class="catlist">
                                <li>
                                    <a href="#">
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Junction Point closed, Spector leaving Disney</h2>
                                    </a><div class="stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                        <i class="fa fa-star-empty"></i>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Barack Obama’s Complete 2013 Inauguration Speech</h2>
                                    </a><div class="stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                        <i class="fa fa-star-empty"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget wlistcat">
                        <h3 class="blocktitle">ACTIVIDADES DE OCTUBRE <span><a href="#">MAS</a></span></h3>
                        <div class="getcat">
                            <div class="lthumb_">
                                <a href="#"><img src="~/Content/intranet/images/aside.jpg" alt=""></a>
                                <div class="overlay">
                                    <div class="meta-carousel"><i class="fa fa-heart"></i> 45  <i class="fa fa-eye"></i> 65 <i class="fa fa-comment"></i> 12</div>
                                    <div class="rate-carousel">30</div>
                                </div>

                            </div>
                            <p class="meta-date">December 21, 2013</p>
                            <a href="#"><h2 class="wtitle">Minecraft Xbox 360 update 8 hopes to deliver 40 fixes this week</h2></a>

                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                                <i class="fa fa-star-empty"></i>
                            </div>
                            <ul class="catlist">
                                <li>
                                    <a href="#">
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Junction Point closed, Spector leaving Disney</h2>
                                    </a><div class="stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                        <i class="fa fa-star-empty"></i>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Barack Obama’s Complete 2013 Inauguration Speech</h2>
                                    </a><div class="stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                        <i class="fa fa-star-empty"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </div>
</div>