@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutIntranetPJ.cshtml";
}


<div class="clear"></div>

<!-- main content -->
<div class="row">
    <div class="twelve columns">
        <section id="maincontainer">

            <!-- Side Left Main Conten Area -->
            <div class="eight columns">
                <div id="content">
                    <h3 class="blocktitle ocultar">NOTICIAS  </h3>
                    <section id="catnews">
                        <div class="">
                            <div class="twelve columns paddingleftright">
                                <div id="catslide">
                                    <ul id="slider" data-orbit>
                                        <li data-orbit-slide="headline-1" style="width:100%">
                                            <div class="row">
                                                <div class="twelve columns">
                                                    <div class="itemcatslide">
                                                        <div class="catf">
                                                            <div class="catf-format">
                                                                <div class="fdate">15<br /><span>Dec</span></div>
                                                            </div>
                                                            <div class="imgslide">
                                                                <img src="~/Content/intranet/images/img-featured.jpg" alt="" title="" class="slidefeatured">
                                                            </div>
                                                            <div class="catf-caption">
                                                                <h2>Star Trek Into Darkness is a 2013 American</h2>
                                                                <span class="meta"><a href="#">MOVIE</a> / 20 Comments / 5 Rate </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li data-orbit-slide="headline-2" style="width:100%">
                                            <div class="row">
                                                <div class="twelve columns">
                                                    <div class="itemcatslide">
                                                        <div class="catf">
                                                            <div class="catf-format">
                                                                <div class="fdate">15<br /><span>Dec</span></div>
                                                            </div>
                                                            <div class="imgslide">
                                                                <img src="~/Content/intranet/images/img-featured2.jpg" alt="" title="" class="slidefeatured">
                                                            </div>
                                                            <div class="catf-caption">
                                                                <h2>OST. Star Trek Into Darkness is a 2013</h2>
                                                                <span class="meta"><a href="#">MUSIC</a> / 20 Comments / 5 Rate </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </section>

                    <!-- Block Category 2 -->
                    <h3 class="blocktitle">APLICATIVOS FAVORITOS<span><a href="#">MAS</a></span></h3>
                    <section id="cat2news">
                        <!-- Block Featured  -->
                        <div class="featured">
                            <div class="thumb">
                                <img src="~/Content/intranet/images/c2.jpg" alt="">
                                <div class="overlay">
                                    <div class="title-carousel">
                                        <div class="ticarousel"> MESA DE PARTES</div>
                                    </div>
                                </div>
                            </div>
                            <div class="excerpt">
                                <p class="meta-date">December 23,2012</p>
                                <div class="desc">
                                    <p class="pcats">uc option voluptaria ex, nec habeo viris ei. Ne qui tota legendos, nam at debitis tractatos.</p>
                                    <a href="#"><i class="fa fa-external-link"></i> LEER MAS </a>
                                </div>
                            </div>
                        </div>
                        <!-- Block Category Area -->
                        <div class="othercat">
                            <ul class="oc-horizon">
                                <li>
                                    <div class="octhumb">
                                        <a href="#"><img src="~/Content/intranet/images/n3.jpg" alt=""></a>
                                    </div>
                                    <div class="desc">
                                        <a href="#">RESERVA DE SALA</a>
                                        <h4><a href="#"> 5 YouTube Exercises to Strengthen Your Core</a></h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="octhumb">
                                        <a href="#"><img src="~/Content/intranet/images/n4.jpg" alt=""></a>
                                    </div>
                                    <div class="desc">
                                        <a href="#">GLPI - SISTEMAS</a>
                                        <h4><a href="#">The 2013 Emmy Award Winners, as Determined by Facebook Buzz</a></h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="octhumb">
                                        <a href="#"><img src="~/Content/intranet/images/n5.jpg" alt=""></a>
                                    </div>
                                    <div class="desc">
                                        <a href="#">CONTACTOS</a>
                                        <h4><a href="#">The 2013 Emmy Award Winners, as Determined by Facebook Buzz</a></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- end block category 2 -->

                </div>
            </div>

            <div class="four columns gridleft">
                <aside>

                    <div class="widget wlistcat">
                        <h3 class="blocktitle">CUMPLEAÑOS DE OCTUBRE <span><a href="#">MAS</a></span></h3>
                        <div class="getcat">
                            <ul class="catlist">
                                <li>
                                    <a href="#">
                                        <img src="~/Content/intranet/images/png/calendar.png" />
                                        <div class="spannumber">21</div>
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Mario Sega</h2>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/Content/intranet/images/png/calendar.png" />
                                        <div class="spannumber">20</div>
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Juan Quispe</h2>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/Content/intranet/images/png/calendar.png" />
                                        <div class="spannumber">18</div>
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Mario Sega</h2>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/Content/intranet/images/png/calendar.png" />
                                        <div class="spannumber">14</div>
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Juan Quispe</h2>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/Content/intranet/images/png/calendar.png" />
                                        <div class="spannumber">10</div>
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Mario Sega</h2>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/Content/intranet/images/png/calendar.png" />
                                        <div class="spannumber">1</div>
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Juan Quispe</h2>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget wlistcat">
                        <h3 class="blocktitle">ACTIVIDADES DE OCTUBRE <span><a href="#">MAS</a></span></h3>
                        <div class="getcat">
                            
                            <ul class="catlist">
                                <li>
                                    <a href="#">
                                        <img src="~/Content/intranet/images/png/actividad.png" />
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Junction Point closed, Spector leaving Disney</h2>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/Content/intranet/images/png/actividad.png" />
                                        <p class="meta-date">December 21, 2013</p>
                                        <h2 class="wtitle">Barack Obama’s Complete 2013 Inauguration Speech</h2>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </div>
</div>