@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutIntranetPJ.cshtml";

}
@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@{
    string tipo = new JavaScriptSerializer().Serialize(ViewBag.tipo);
    String persona = new JavaScriptSerializer().Serialize(Session["perIntranet_full"]);
    String usuario = new JavaScriptSerializer().Serialize(Session["usuIntranet_full"]);
}


<section id="singlepost">
    <header>
        <div class="loverate"><a href="#"><i class="fa fa-phone-square"></i></a></div>
        <h1>Agenda Contactos</h1>

    </header>
</section>
<div class="separador"></div>
<section id="singlepost">
    <table class="table table-condensed table-bordered table-hover" id="agenda_table">
        
    </table>
</section>
@section js
{

    <script type="text/javascript">
        menu_id = 0;
        persona = (@Html.Raw(persona));
        usuario = (@Html.Raw(usuario));
    </script>
    <script src="~/Content/viewjs/IntranetPJ/IntranetPJLayoutView.js"></script>
    <script>
       
        var pathBase = $("#BasePath").val();
        var url = pathBase + "IntranetPJ/IntranetListarAgenda";

        $('#agenda_table').DataTable({
                "ajax": {
                    "url" : url,
                    "type" : "POST",
                    "datatype" : "application/json"
                },
                "columns": [
                    { 
                        "title":"Nombre",
                        "data" : "NO_TRAB", 
                        "autoWidth" : true,
                        "render":function(value, type, oData, meta){
                            var span='';
                            span+= oData.NO_APEL_PATE+' ' +oData.NO_APEL_MATE+ ', '+oData.NO_TRAB;
                            return span;
                        },
                    },
                    { 
                        "title":"Empresa",
                        "data": "DE_NOMB",
                         "autoWidth": true 
                    },

                    
                    {   "title":"Area",
                        "data": "DE_AREA",
                        "autoWidth": true 
                     },
                    { 
                        "title":"Puesto",
                        "data": "DE_PUES_TRAB", 
                        "autoWidth": true 
                    },
                    { 
                        "title":"Telef.",
                        "data": "NU_TLF1", 
                        "autoWidth": true 
                    },
                    { 
                        "title":"Celular",
                        "data": "NU_TLF2", 
                        "autoWidth": true 
                    },
                    { 
                        "title":"Email",
                        "data": "NO_DIRE_MAI1",
                         "autoWidth": true 
                    },
                ]
        })
    </script>
}