@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutIntranetPJ.cshtml";
}

<section id="singlepost">
    <header>
        <div class="loverate"><a href="#"><i class="fa fa-exclamation-circle"></i></a></div>
        <h1>MIS HERRAMIENTAS PJ</h1>
    </header>
    <article>
        <div class="post-content">
            <div class="row ">
                <div class="three tilesli columns">
                    <div class="space_">
                        <div class="itemblog">
                            <div class="clear"></div>
                            <div class="thumb">
                                <a href="#"><img src="~/Content/intranet/images/subido/mpartes.png" alt=""></a>
                            </div>
                            <div class="clear"></div>
                            <div class="excerpt">
                                <h2 class="ntitle"><a href="#">AGENDA DE CONTACTOS</a></h2>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="three tilesli columns">
                    <div class="space_">
                        <div class="itemblog">
                            <div class="clear"></div>
                            <div class="thumb">
                                <a href="#"><img src="~/Content/intranet/images/subido/reunion.png" alt=""></a>
                            </div>
                            <div class="clear"></div>
                            <div class="excerpt">
                                <h2 class="ntitle"><a href="#">MESA DE PARTES</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three tilesli columns">
                    <div class="space_">
                        <div class="itemblog">
                            <div class="clear"></div>
                            <div class="thumb">
                                <a href="#"><img src="~/Content/intranet/images/subido/gestion.png" alt=""></a>
                            </div>
                            <div class="clear"></div>
                            <div class="excerpt">
                                <h2 class="ntitle"><a href="#">RESERVA DE ESPACIOS</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three tilesli columns">
                    <div class="space_">
                        <div class="itemblog">
                            <div class="clear"></div>
                            <div class="thumb">
                                <a href="#"><img src="~/Content/intranet/images/subido/manufactura.png" alt=""></a>
                            </div>
                            <div class="clear"></div>
                            <div class="excerpt">
                                <h2 class="ntitle"><a href="#">SISTEMA LEGAL</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="three tilesli columns">
                    <div class="space_">
                        <div class="itemblog">
                            <div class="clear"></div>
                            <div class="thumb">
                                <a href="#"><img src="~/Content/intranet/images/subido/manufactura.png" alt=""></a>
                            </div>
                            <div class="clear"></div>
                            <div class="excerpt">
                                <h2 class="ntitle"><a href="#">LOGISTICA</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three tilesli columns">
                    <div class="space_">
                        <div class="itemblog">
                            <div class="clear"></div>
                            <div class="thumb">
                                <a href="#"><img src="~/Content/intranet/images/subido/manufactura.png" alt=""></a>
                            </div>
                            <div class="clear"></div>
                            <div class="excerpt">
                                <h2 class="ntitle"><a href="#">CONTABILIDAD Y TESORERIA</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three tilesli columns">
                    <div class="space_">
                        <div class="itemblog">
                            <div class="clear"></div>
                            <div class="thumb">
                                <a href="#"><img src="~/Content/intranet/images/subido/manufactura.png" alt=""></a>
                            </div>
                            <div class="clear"></div>
                            <div class="excerpt">
                                <h2 class="ntitle"><a href="#">TOOLKIT DE COMUNIACION INTERNA</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </article>
</section>
<div class="separador"></div>