@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutIntranetPJ.cshtml";
}

<section id="singlepost">
    <header>
        <div class="loverate"><a href="#"><i class="fa fa-exclamation-circle"></i></a></div>
        <h1>BENEFICIOS CORPORATIVOS</h1>
    </header>
    <article>
        <div class="post-content">
            <div class="row">
                <div class="six columns">
                    <div class="widget lreview">
                        <ul class="listreview">
                            <li><div class="ctitle wt2">PRESTAMO POR ESCOLARIDAD </div></li>
                            <li><div class="ctitle wt3"> PRESTAMO POR SALUD </div></li>
                            <li><div class="ctitle wt4"> CONVENIO POR SALUD </div></li>
                        </ul>
                    </div>
                </div>
                <div class="six columns">
                    <div class="sponsor">
                        <a href="#"><img src="~/Content/intranet/images/subido/TITO.jpeg" alt=""></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </article>
</section>
<div class="separador"></div>

<section id="singlepost">
    <header>
        <div class="loverate"><a href="#"><i class="fa fa-exclamation-circle"></i></a></div>
        <h1>BENEFICIOS LABORALES</h1>
    </header>
    <article>
        <div class="post-content">
            <div class="row">
                <div class="four columns">
                    <div class="widget lreview">
                        <ul class="listreview">
                            <li><div class="ctitle wt2"> REMUNERATIVOS </div></li>
                            <li><div class="ctitle wt3"> ASIGNACION FAMILIAR </div></li>
                            <li><div class="ctitle wt4"> VACACIONES </div></li>
                        </ul>
                    </div>
                </div>
                <div class="four columns">
                    <div class="widget lreview">
                        <ul class="listreview">
                            <li><div class="ctitle wt2"> SEGURO SOCIAL O ESSALUD </div></li>
                            <li><div class="ctitle wt3"> SEGURO DE VIDA LEY </div></li>
                            <li><div class="ctitle wt4"> SEGURO + VIDA </div></li>
                        </ul>
                    </div>
                </div>
                <div class="four columns">
                    <div class="widget lreview">
                        <ul class="listreview">
                            <li><div class="ctitle wt2"> LICENCIA POR PATERNIDAD </div></li>
                            <li><div class="ctitle wt3"> FALLECIMIENTO </div></li>
                            <li><div class="ctitle wt4"> DESCANSO </div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <div class="post-content">
            <div class="row">
                <div class="four columns">
                    <div class="at-thumb" style="padding: 10px;">
                        <a href="#">
                            <img src="~//Content/intranet/images/n1.jpg" alt="" style="width: 100%;height: 226px;">
                        </a>
                    </div>
                </div>
                <div class="four columns">
                    <div class="at-thumb" style="padding: 10px;">
                        <a href="#">
                            <img src="~//Content/intranet/images/n1.jpg" alt="" style="width: 100%;height: 226px;">
                        </a>
                    </div>
                </div>
                <div class="four columns">
                    <div class="at-thumb" style="padding: 10px;">
                        <a href="#">
                            <img src="~//Content/intranet/images/n1.jpg" alt="" style="width: 100%;height: 226px;">
                        </a>
                    </div>
                </div>
                <div class="four columns">
                    <div class="at-thumb" style="padding: 10px;">
                        <a href="#">
                            <img src="~//Content/intranet/images/n1.jpg" alt="" style="width: 100%;height: 226px;">
                        </a>
                    </div>
                </div>
                <div class="four columns">
                    <div class="at-thumb" style="padding: 10px;">
                        <a href="#">
                            <img src="~//Content/intranet/images/n1.jpg" alt="" style="width: 100%;height: 226px;">
                        </a>
                    </div>
                </div>
                <div class="four columns">
                    <div class="at-thumb" style="padding: 10px;">
                        <a href="#">
                            <img src="~//Content/intranet/images/n1.jpg" alt="" style="width: 100%;height: 226px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </article>

</section>

<div id="modalContent" style="display: none;">
    <strong style="color: #ff0000;">Modal Example 2</strong>
</div>