@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutIntranetPJ.cshtml";
}

<section id="singlepost">
    <header>
        <div class="loverate"><a href="#"><i class="fa fa-exclamation-circle"></i></a></div>
        <h1>POLÍTICAS CORPORATIVAS</h1>
    </header>
    <article>
        <div class="post-content">
            <div class="row">
                <div class="six columns">
                    <div class="widget lreview">
                        <ul class="listreview">
                            <li><div class="ctitle wt2"> ANTI CORRUPCIÓN </div></li>
                            <li><div class="ctitle wt3"> ACEPTACION DE REGALOS , INVITACIONES Y BENEFICIOS </div></li>
                            <li><div class="ctitle wt4"> RELACIONES SENTIMENTALES </div></li>
                            <li><div class="ctitle wt5"> HOSTIGAMIENTO LABORAL </div></li>
                        </ul>
                    </div>
                </div>
                <div class="six columns">
                    <div class="sponsor">
                        <a href="#"><img src="~/Content/intranet/images/subido/TITO.jpeg" alt=""></a>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <div class="sponsor">
                        <a href="#"><img src="~/Content/intranet/images/subido/TITA.PNG" alt=""></a>
                    </div>
                </div>
                <div class="six columns">
                    <div class="widget lreview">
                        <ul class="listreview">
                            <li><div class="ctitle wt2"> ACOSO SEXUAL EN EL ÁMBITO LABORAL </div></li>
                            <li><div class="ctitle wt3"> ALCOHOL Y DROGAS </div></li>
                            <li><div class="ctitle wt4"> SEGURIDAD Y SALUD EN EL TRABAJO </div></li>
                            <li><div class="ctitle wt5"> CÓDIGO DE VESTIMENTA </div></li>
                            <li><div class="ctitle wt5"> DEVOLUCION DEL UNIFORME </div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </article>
</section>
<div class="separador"></div>

<section id="singlepost">
    <header>
        <div class="loverate"><a href="#"><i class="fa fa-exclamation-circle"></i></a></div>
        <h1>NORMAS Y RESPONSABILIDADES</h1>
    </header>
    <article>
        <div class="post-content">
            <ul class="listas">
                <li>Maquinas tragamonedas de ultima generacion</li>
                <li>La mejor atención de cortesías de alimentos y bebidas.</li>
                <li>Maquinas tragamonedas de ultima generacion</li>
                <li>Maquinas tragamonedas de ultima generacion</li>
                <li>La mejor atención de cortesías de alimentos y bebidas.</li>
                <li>Maquinas tragamonedas de ultima generacion</li>
            </ul>
            <blockquote>
                <p>
                    I do not fear computers. I fear the lack of them.
                    <cite>Isaac Asimov</cite>
                </p>
            </blockquote>
        </div>
        <div class="clear"></div>
    </article>



</section>

<div id="masonrystyle">
    <ul id="tiles">
        <li>
            <div class="">
                <div class="itemblog">
                    <div class="clear"></div>
                    <div class="lthumb">
                        <a href="images/imgnews.jpg" data-rel="prettyPhoto"><img src="images/imgnews.jpg" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <div class="excerpt">
                        <h2 class="ntitle"><a href="#">iOS & Android: Market Positioning and Typography</a></h2>

                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<div id="modalContent" style="display: none;">
    <strong style="color: #ff0000;">Modal Example 2</strong>
</div>