@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutIntranetPJ.cshtml";
}

<section id="singlepost">
    <header>
        <div class="loverate"><a href="#"><i class="fa fa-exclamation-circle"></i></a></div>
        <h1>CONÓCENOS</h1>
        <div class="postmeta">
            <div class="meta-date">¿QUIÉNES SOMOS? </div>
        </div>

    </header>
    <article>

        <div class="post-content">
            <p>
                It was during this session that Jack Dorsey first introduced the idea that would become Twitter. Dorsey’s idea was that one individual could, using SMS and a specific number, send a message out to a small group of people via a public network. The number became “40404,” the project became “twttr,” and a social media network was born.
            </p>
            <p>
                TechCrunch covered the service, implying that perhaps Odeo should stop creating fun “side projects” and instead focus on their own failing product.
            </p>
            <p>
                Twttr then had its first surge in popularity in August, gaining thousands of users when people took to the social network to spread the word about an earthquake in San Francisco.
            </p>
            <p>
                New Management
            </p>

            <div class="twelve columns slide_p">
                <div id="mixedContent">
                    <div class="contentBox">
                        <img src="~/Content/intranet/images/c1.jpg" alt="Field" />
                        <div class="overlay">
                            <div class="title-carousel">
                                <a href="single-review.html">
                                    <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                                </a>

                            </div>
                        </div>
                    </div>

                    <div class="contentBox">
                        <img src="~/Content/intranet/images/c2.jpg" alt="Field" />
                        <div class="overlay">
                            <div class="title-carousel">
                                <a href="single-review.html">
                                    <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                                </a>

                            </div>
                        </div>

                    </div>

                    <div class="contentBox">
                        <img src="~/Content/intranet/images/c3.jpg" alt="Field" />
                        <div class="overlay">
                            <div class="title-carousel">
                                <a href="single-review.html">
                                    <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                                </a>

                            </div>
                        </div>

                    </div>

                    <div class="contentBox">
                        <img src="~/Content/intranet/images/c4.jpg" alt="Field" />
                        <div class="overlay">
                            <div class="title-carousel">
                                <a href="single-review.html">
                                    <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                                </a>

                            </div>
                        </div>

                    </div>

                    <div class="contentBox">
                        <img src="~/Content/intranet/images/c5.jpg" alt="Field" />
                        <div class="overlay">
                            <div class="title-carousel">
                                <a href="single-review.html">
                                    <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                                </a>

                            </div>
                        </div>

                    </div>

                    <div class="contentBox">
                        <img src="~/Content/intranet/images/c6.jpg" alt="Field" />
                        <div class="overlay">
                            <div class="title-carousel">
                                <a href="single-review.html">
                                    <div class="ticarousel"> World War Z is a 2013 apocalyptic film directed by Marc Forster.</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <blockquote>
                <p>
                    I do not fear computers. I fear the lack of them.
                    <cite>Isaac Asimov</cite>
                </p>
            </blockquote>
        </div>
        <div class="clear"></div>
    </article>
</section>
<div class="separador"></div>

<!-- Main Carousel -->
<div class="row">
    <div class="twelve columns ">
        <div id="slidercontent" class="mixedContent onlyimgblank">
            <div class="contentBox">
                <img src="~/Content/intranet/images/subido/img1.png" alt="Field" />
                <div class="overlay">
                    <div class="title-carousel">
                        <a href="single-review.html">
                            <div class="ticarousel"> Disfrutamos lo que hacemos.</div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="contentBox">
                <img src="~/Content/intranet/images/subido/img2.png" alt="Field" />
                <div class="overlay">
                    <div class="title-carousel">
                        <a href="single-review.html">
                            <div class="ticarousel"> Desarrollamos a nuestra gente.</div>
                        </a>

                    </div>
                </div>

            </div>

            <div class="contentBox">
                <img src="~/Content/intranet/images/subido/img3.png" alt="Field" />
                <div class="overlay">
                    <div class="title-carousel">
                        <a href="single-review.html">
                            <div class="ticarousel"> Somos responsables.</div>
                        </a>

                    </div>
                </div>

            </div>

            <div class="contentBox">
                <img src="~/Content/intranet/images/subido/img4.png" alt="Field" />
                <div class="overlay">
                    <div class="title-carousel">
                        <a href="single-review.html">
                            <div class="ticarousel"> Amamos a Nuestros Clientes.</div>
                        </a>

                    </div>
                </div>

            </div>

            <div class="contentBox">
                <img src="~/Content/intranet/images/subido/img5.png" alt="Field" />
                <div class="overlay">
                    <div class="title-carousel">
                        <a href="single-review.html">
                            <div class="ticarousel"> Somos íntegros.</div>
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="separador"></div>
<div class="banner8">
    <a href="#"><img src="~/Content/intranet/images/fullwidthads.jpg" alt=""></a>
</div>
<div class="separador"></div>
<section id="singlepost">
    <header>
        <div class="loverate"><a href="#"><i class="fa fa-exclamation-circle"></i></a></div>
        <h1>UNIDADES DE NEGOCIO</h1>
        <div class="postmeta">
            <div class="meta-date">SALAS DE JUEGOS MANTRA </div>
        </div>
    </header>
    <article>
        <div class="post-content">
            <p>
                It was during this session that Jack Dorsey first introduced the idea that would become Twitter. Dorsey’s idea was that one individual could, using SMS and a specific number, send a message out to a small group of people via a public network. The number became “40404,” the project became “twttr,” and a social media network was born.
            </p>
            <p>
                TechCrunch covered the service, implying that perhaps Odeo should stop creating fun “side projects” and instead focus on their own failing product.
            </p>
            <h4 class="lista_titulo">Nuestras diferenciales</h4>
            <ul class="listas">
                <li>Maquinas tragamonedas de ultima generacion</li>
                <li>La mejor atención de cortesías de alimentos y bebidas.</li>
                <li>Maquinas tragamonedas de ultima generacion</li>
                <li>Maquinas tragamonedas de ultima generacion</li>
                <li>La mejor atención de cortesías de alimentos y bebidas.</li>
                <li>Maquinas tragamonedas de ultima generacion</li>
            </ul>
            <blockquote>
                <p>
                    I do not fear computers. I fear the lack of them.
                    <cite>Isaac Asimov</cite>
                </p>
            </blockquote>
        </div>
        <div class="clear"></div>
    </article>
    <header>
        <div class="postmeta">
            <div class="meta-date">TIENDAS DE APUESTAS DEPORTIVAS APUESTA TOTAL </div>
        </div>
    </header>
    <article>
        <div class="post-content">
            <p>
                It was during this session that Jack Dorsey first introduced the idea that would become Twitter. Dorsey’s idea was that one individual could, using SMS and a specific number, send a message out to a small group of people via a public network. The number became “40404,” the project became “twttr,” and a social media network was born.
            </p>
            <p>
                TechCrunch covered the service, implying that perhaps Odeo should stop creating fun “side projects” and instead focus on their own failing product.
            </p>
            <h4 class="lista_titulo">Nuestras diferenciales</h4>
            <ul class="listas">
                <li>Maquinas tragamonedas de ultima generacion</li>
                <li>La mejor atención de cortesías de alimentos y bebidas.</li>
                <li>Maquinas tragamonedas de ultima generacion</li>
                <li>Maquinas tragamonedas de ultima generacion</li>
                <li>La mejor atención de cortesías de alimentos y bebidas.</li>
                <li>Maquinas tragamonedas de ultima generacion</li>
            </ul>
        </div>
        <div class="clear"></div>
    </article>
</section>
<div class="separador"></div>
<section id="singlepost">
    <header>
        <div class="loverate"><a href="#"><i class="fa fa-exclamation-circle"></i></a></div>
        <h1>HISTORIA</h1>
        <div class="postmeta">
            <div class="meta-date">PASADO </div>
        </div>
    </header>
    <article>
        <div class="post-content">
            <p>
                It was during this session that Jack Dorsey first introduced the idea that would become Twitter. Dorsey’s idea was that one individual could, using SMS and a specific number, send a message out to a small group of people via a public network. The number became “40404,” the project became “twttr,” and a social media network was born.
            </p>
            <p>
                TechCrunch covered the service, implying that perhaps Odeo should stop creating fun “side projects” and instead focus on their own failing product.
            </p>
            <blockquote>
                <p>
                    I do not fear computers. I fear the lack of them.
                    <cite>Isaac Asimov</cite>
                </p>
            </blockquote>
        </div>
        <div class="clear"></div>
    </article>
    <header>
        <div class="postmeta">
            <div class="meta-date">PRESENTE </div>
        </div>
    </header>
    <article>
        <div class="post-content">
            <p>
                It was during this session that Jack Dorsey first introduced the idea that would become Twitter. Dorsey’s idea was that one individual could, using SMS and a specific number, send a message out to a small group of people via a public network. The number became “40404,” the project became “twttr,” and a social media network was born.
            </p>
            <p>
                TechCrunch covered the service, implying that perhaps Odeo should stop creating fun “side projects” and instead focus on their own failing product.
            </p>

        </div>
        <div class="clear"></div>
    </article>

    <header>
        <div class="postmeta">
            <div class="meta-date">FUTURO </div>
        </div>
    </header>
    <article>
        <div class="post-content">
            <p>
                It was during this session that Jack Dorsey first introduced the idea that would become Twitter. Dorsey’s idea was that one individual could, using SMS and a specific number, send a message out to a small group of people via a public network. The number became “40404,” the project became “twttr,” and a social media network was born.
            </p>
            <p>
                TechCrunch covered the service, implying that perhaps Odeo should stop creating fun “side projects” and instead focus on their own failing product.
            </p>

        </div>
        <div class="clear"></div>
    </article>
</section>
<div class="separador"></div>
<section id="singlepost">
    <header>
        <div class="loverate"><a href="#"><i class="fa fa-exclamation-circle"></i></a></div>
        <h1>ORGANIGRAMA DE LIDERES</h1>
    </header>
    <article>
        <div class="imgpost th">
            <img src="~/Content/intranet/images/singleimg.jpg" alt="">
        </div>
        <div class="clear"></div>
    </article>

</section>